@use "../base" as *;

html {
  scroll-behavior: smooth;
}

p:last-of-type {
  margin-bottom: 0;
}

object {
  margin-bottom: 1rem;
}

address {
  margin-block: 2rem;
  text-align: right;
  font-style: normal;
  margin-right: 3rem;
}

dfn {
  font-style: normal;
}