<dialog open class="cookieNotice">
  <p>2002-e godine, <a
      href='https://edps.europa.eu/data-protection/our-work/subjects/eprivacy-directive_en'
      target='_blank' rel='nofollow noopener noreferrer' hreflang='en'
      aria-label='zakon o kolačićima na sajtu evropske unije'>Evropska unija donosi tzv
      zakon o kolačićima</a>. Pošto skoro svaki sajt koristi
    neke <a href='https://sr.wikipedia.org/wiki/HTTP_kola%C4%8Di%C4%87' target='_blank'
      rel='nofollow noopener noreferrer' hreflang='en'
      aria-label='wikipedia o kolačićima'>kukuje</a>, to je sada svaki sajt u obavezi da
    vas obavesti da koristi kukije. U opštem slučaju, obaveštenje o kukijima prekriva
    dobar deo strane, prisiljavajući vas da imate interakciju s obaveštenjem, kako biste
    videli sadržaj sajta.</p>
  <p>Sajtovi nisu u obavezi da vam ponude da odbijete "kolačiće" pa je glavnom jedini
    način da isključite obaveštenje, da prihvatite kukije. <span
      class="em unamused"></span>
  </p>
  <p>Ovo ni na koji način ne služi da nas zaštiti, jer jedini kukuji koji su ikada bili
    problem, su bili kukiji od tzv "<a href='https://archive.is/Ekizb' target='_blank'
      rel='nofollow noopener noreferrer' hreflang='en'
      aria-label='o kukijima treće partije, norton'>treće partije</a>", odnosno kukiji
    koje su <span class='ttip' data-tooltip='čitaj google, facebook'>reklamne
      agencije</span> koristile da nas špijuniraju, kako bi znali koje reklame da nam
    serviraju. Usled ovakvih besmislenih, loše formulisanih zakona, google ne samo da je
    prešao na <a href='https://stape.io/what-is-google-tag-manager-server-side-tracking/'
      target='_blank' rel='nofollow noopener noreferrer' hreflang='en'
      aria-label='O špijuniranju na strani servera'>špijuniranje na strani servera</a>,
    nego očigledno misli da je ovo mnogo bolji vid špijuniranja, da čak radi na tome da
    <a href='https://digiday.com/media/google-plans-kill-off-third-party-cookies-chrome-within-2-years/'
      target='_blank' rel='nofollow noopener noreferrer' hreflang='en'
      aria-label='o googlovoj odluci da ukine kukije treće partije u hromu'>
      kukije treće partije, u celosti zabrani u hrom-u</a>, cirka 2023.
  </p>
  <p>Naravno da je serversko špijuniranje "sigurnije", korisnik, dokon, može u bilo kom
    trenutku da obriše kolačić, ali nema nikakve šanse da se zaštiti od serverskog
    špijuniranja.</p>
  <p></p>
  <p>Sve ovo znači da smo od sada pa na dalje, svi mi u obavezi da klikćemo na nepotrebna
    obaveštenja, koja ni u kojoj meri ne doprinose našoj sigurnosti, na svakom sajtu, do
    smaka sveta. <span class="em unamused"></span><span class="em sad"></span>
  </p>
  <p><span class="highlight">Kuki na ovoj strani, pamti da li ste odabrali svetlu ili
      tamnu temu</span>. Ja nemam
    nikakvog interesa da znam koju od ove dve teme ste odabrali, i čak i da čuvam negde
    taj podatak, a ne čuvam ga, nemam nameru da ga obrađujem, ili pokušavam da ga prodam.
    <span class="em cray"></span> Serversko praćenje takođe ne koristim, bar ne u ovom
    trenutku.
  </p>
</dialog>