<dialog <!--open--> class="cookieNotice lazy">
  <p>Zanimljivo: Jedini <a href='https://sr.wikipedia.org/wiki/HTTP_kola%C4%8Di%C4%87'
      target='_blank' rel='nofollow noopener noreferrer' hreflang='en'
      aria-label='wikipedia o kolačićima'>kolačići <span class="em cookie"></span></a>
    koji su ikada bili problem, su tzv "<a href='https://archive.is/Ekizb' target='_blank'
      rel='nofollow noopener noreferrer' hreflang='en'
      aria-label='o kolačićima treće partije, norton'>kolačići treće partije</a>", odnosno
    <span class="em cookie"></span> koje su <span class='ttip'
      data-tooltip='čitaj google, facebook'>reklamne agencije</span> koristile da nas
    špijuniraju, kako bi znali koje reklame da nam serviraju.
  </p>
  <p>Zbog ovih zlonamernih "kukija treće partije", Evropska unija 2002-e godine donosi tzv
    <a href='https://edps.europa.eu/data-protection/our-work/subjects/eprivacy-directive_en'
      target='_blank' rel='nofollow noopener noreferrer' hreflang='en'
      aria-label='zakon o kolačićima na sajtu evropske unije'>zakon o kolačićima</a>, koji
    obavezuje svaki sajt koji koristi bilo kakve <span class="em cookie"></span>, da nas
    obavesti o tome. Da nam obaveštenje slučajno ne bi promaklo, ono uglavnom pokriva ceo
    prozor, i prisiljeni smo da ga isključimo da bismo videli sam sajt. Zakon ne obavezuje
    vlasnike sajta da nam ponude opciju da odbijemo <span class="em cookie"></span>, pa je
    uglavnom jedini način da uklonimo obaveštenje, da ih prihvatimo. Ili da koristimo
    ekstenzije koje kriju html elemente <span class="em cray"></span>. Odlika dobro
    napisanog zakona.
  </p>
  <p>Kako to obično biva, naše vlasti su brže bolje "prepisale bez razumevanja" <a
      href='https://archive.is/Y9pL6' target='_blank' rel='nofollow noopener noreferrer'
      hreflang='sr-Cyrl-CS' aria-label='Zakon o zaštiti podataka o ličnosti'>zakon o
      zaštiti podataka o ličnosti</a>, tako da ista besmislena pravila, sad važe i ovde.
  </p>
  <p>I u skladu s očekivanjima, u poslednjih par godina, google je prešao na tzv <a
      href='https://stape.io/what-is-google-tag-manager-server-side-tracking/'
      target='_blank' rel='nofollow noopener noreferrer' hreflang='en'
      aria-label='O špijuniranju na strani servera'><span class='ttip'
        data-tooltip='en: Server Side Tracking'>špijuniranje na strani servera</span></a>,
    i onda obećao da će sve <a href='https://archive.is/kuB5c' target='_blank'
      rel='nofollow noopener noreferrer' hreflang='en'
      aria-label='o googlovoj odluci da ukine kukije treće partije u hromu'>
      kolačiće treće partije zabraniti u hrom-u</a>, cirka 2023. Ovo ne utiče na
    regularne <span class="em cookie"></span> koje sajt može koristiti, u cilju pospešenja
    rada sajta.</p>
  <p>Sve ovo znači da smo od sada pa na dalje, svi mi u obavezi da klikćemo na nepotrebna
    obaveštenja, koja ni u kojoj meri ne doprinose našoj sigurnosti, niti zaštiti naših
    ličnih podataka, pa tako sve do kraja sveta, zato što svetom umesto tehnički pismenih
    ljudi, upravljaju birokrate, pa zakoni koji su nam predstavljeni kao anti korporativni
    zakoni koji su u našem interesu, obavezno postaju zakoni protiv nas, koji ne tangiraju
    korporacije ni u kojoj meri. Mislim, ja nemam para da platim pravnika da mi kaže da li
    ja treba da stavljam ovo obaveštenje na moj sajt. Mislim da ne treba, al' otkud znam?
    <span class="em unamused"></span><span class="em sad"></span>
  </p>
  <p><span class="highlight">Kolačić na ovoj strani, pamti da li ste odabrali svetlu ili
      tamnu temu</span>. <span class="em cray"></span>
  </p>
</dialog>