$lightFont: #003333;
$darkFont: #daf7cc;;
$lightBcg: #eeffcc; // $lg
$darkBcg: #020402;
$lightLogoBcg: whitesmoke;
$darkLogoBcg: #031c00;
$lightTopNavTopGreen: #9af629; // $mainG 
$lightTopNavBottomGreen: #7cc91c; // $dg
$darkTopNavTopGreen: #253c08;
$darkTopNavBottomGreen: #579905;
$lightPageBcg: azure; // $white
$darkPageBcg: #000f01;


// SideNav
$lightSideNavBcg: #e5e5e5; // $sg
$darkSideNavBcg: #0b1302; // $sg
$lightSideNavHover: dimgray;
$darkSideNavHover: rgb(51, 51, 51);


// Theme toggle
$toggleClearSky: cornflowerblue;
$sunDisk: rgb(255, 230, 0);
// $corona: yellow;
$nightSky: rgb(1, 13, 36);
$moonLight: gainsboro;