@mixin adminmenues {
  border: 9px double rgb(0, 0, 0);
  border-radius: .5em;
  background: rgb(86, 86, 86);
  background-clip: padding-box;
  color: #efefef;
  box-shadow: 1px 1px 10px gray;
  z-index: 5;

}