@mixin adminmenues {
  border: 9px double rgb(0, 0, 0);
  border-radius: .5em;
  background: rgb(86, 86, 86);
  background-clip: padding-box;
  color: #efefef;
  box-shadow: 1px 1px 10px gray;
  z-index: 5;
}

@mixin lightGrayNavs {
  background-color: $lightSideNavBcg;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.3), 0 0px 2px 0 rgba(0, 0, 0, 0.3);
}

@mixin boxShadow {
  box-shadow: 1px 1px 3px $lightSideNavHover;
}