$font: 'Roboto Mono', 'Courier New', monospace;

$borderWidth: .125rem;
$borderRadius: .3rem;
$halfBorder: calc(#{$borderWidth} / 2);
$sideNavWidth: 15.6rem;

// top nav
$logoHeight: 4.4rem;
$toggleHeight: 1.2rem;
$topNavHeight: 4rem;

//blockquote
$clipSize: 1.37rem;

// $mainFont: #003333 !default;

// // main colors 
// $sgt: rgba(229, 229, 229, .7); // #e5e5e588
// $highlight: rgba(181, 255, 92, 0.62);

// $qy: #fffd3e; // quiz yellow */

// $lightF: #535353;

// // Resistor colors */
// $silver: #b0b0b8;
// $base: #d8b87f;
// $rRed: #ca0125;
// $rBlack: #212121;
// $gold: #f7bd2d;



// // git colors */
// $gityellow: #808000;
// $gitpurple: #c725c7;
// $gitgreen: #018c01;
// $gitwhite: #c6c6c6;
// $gitred: #800000;

// // Pie Chart */
// $mpie: 160px;
// $mhalfpie: 80px;
// $mpieplus: 166px;

// // Console */
// $conB: #0a84ff;
// $conLG: #ededf0;
// $conDG: #e0e0e0;

// // admin 

// $buttonBackground: honeydew;
// $inputBorderRadius: .3em;