<article>
  <h1>Dodaj novi kurs</h1>
  {{#if errorMessage}}<p class="adminError">{{errorMessage}}</p>{{/if}}
  <form action="addNewCourse" method="post">
    <div class=       "adminInput">
      <label for="name">Ime novog kursa</label>
      <input type="text" name="name" id="name" class="admin">
    </div>
    <div class="adminInput">
      <input type="checkbox" name="active" id="active">
      <label for="active"> Objavi?</label>
    </div>
    <div class="adminInput">
      <input type="number" style="visibility: hidden;" name="order" id="order" value="{{increment order.order}}">
    </div>
    <div class=       "adminInput">
      <label for="dugme">Sačuvaj</label>
      <input type="submit" value="Sačuvaj" id="dugme" class="admin">
    </div>
  </form>
  <a href="/admin/svi-kursevi/" class="nocolor"><button class="wideAdminButton">Svi kursevi</button></a>
</article>

{{!-- <script type="module" src="../../js/front/addingCourses.js"></script> --}}