<article>
  <h1>Detalji kursa "{{course.name}}"</h1>
  <p>Kurs redni broj {{increment course.order}}</p>

  <a href="/admin/svi-kursevi" class="nocolor"><button class="wideAdminButton">Svi kursevi</button></a>
  <a href="/admin/ukloni-kurs/{{course._id}}" class="nocolor"><button class="warning wideAdminButton">Obriši kurs</button></a>
</article>