<html lang="sr" prefix="og: http://ogp.me/ns#">

<head>
  {{>basics/head/metas}}
  
  {{>basics/head/metaTwitter}}
  {{>basics/head/metaOG}}
  {{>basics/head/metaSoc}}
  
  <title>Kodiranje {{# if post.googTitle}}| {{post.googTitle}}{{else}}|
    {{googTitle}}{{/if}}</title>

  {{>basics/head/links}}
</head>