blockquote {
  position: relative;
  // @include border;
  border-radius: 2rem;
  padding: 2rem;
  background-color: $bcgColor;
  padding-bottom: 7rem;
  color: cornsilk;
  background: cornflowerblue;
  margin-block: 2rem;

  * {
    color: cornsilk;
  }

  cite {
    display: block;
    right: 2rem;
    position: absolute;
    bottom: .625rem;
    color: cornsilk;
    bottom: $iconSize;
    left: 4rem;

    a{
      text-decoration: none;
    }
  }
}

// icons

blockquote::before {
  font-family: "Kodiranje";
  content: '\201c';
  font-size: $iconSize;
  position: absolute;
  top: 2rem;
}

blockquote::after {
  font-family: "Kodiranje";
  content: '\201d';
  font-size: $iconSize;
  position: absolute;
  bottom: 5rem;
  right: 2rem;
}

cite::before {
  font-family: "Kodiranje";
  content: '\F34C'; 
  font-size: $iconSize;
  position: absolute;
  // top: .5rem;
  left: -2.5rem;
}