@use "../base" as *;

.cmdborder {
  border: $px solid $borderColor; 
  border-radius: $borderRadius;
  margin: 2rem 0;
}

.cmd {
  border-radius: 4px;
  border: $cmdBorderWidth solid $side-300;
  @include box-shadow;
}

.cmdtitlebar {
  background-color: $side-300;
  font-size: 1rem;
  padding-left: .2rem;
  margin-top: -6px;
}

.cmdwindow {
  background-color: black;
  word-break: break-all;
  padding: $cmdPadding;
  border: $px solid white;

  p,
  p * {
    font-family: $code-font;
    color: $side-400;
    margin-block: 1rem;

    &::selection {
      background: white;
      color: black;
    }

    em {
      background: $side-400;
      color: $side-900;
      border: double 3px;
    }
  }
}

// // .gityellow {
// //   color: $gityellow;
// // }

// // .gitgreen {
// //   color: $gitgreen;
// // }

// // .gitred {
// //   color: $gitred;
// // }

// .gitwhite {
//   color: $side-400;
// }