details.superbox::before {
  display: none; // the warning icon shows at the bottom of details cause it can't show at expected place due to arrow
}

details {
  cursor: pointer;
  margin: 1em 0;
  cursor: auto;

  & summary {
    position: relative;
    cursor: pointer;
    // display: inline-block;
//     outline: none;

    &:first-child p {
      display: inline !important;
    }

    &::before {
      font-family: Kodiranje;
      content: '\F397';
      padding-right: 1rem;
      position: absolute;
      left: -.3rem;
//       background: transparent;
//       background: $lightPageBcg;
    }  
  }

  &[open] summary::before {
    content: '\F39B';
  }
}

details.listAllArticles {
  @include border;
  @include boxShadow;
  border-left: $accentBorder solid $topNavLightGreen;
  padding: 0;

  summary {
    @include spread;
    padding: 1rem;
    padding-left: 2rem;

    &::before {
      margin-left: 1rem;
    }
  }

  p {
    padding: 0 1rem;
    // border: $borderWidth solid $fontColor;
    margin: .5rem 0;
    text-align: left;
    background: $bcgColor;

    // a {
    //   text-decoration: underline;
    //   line-height: 1rem;
    // }
  }

  &:hover {
    border-left: $accentBorder solid $darkYellow;
  }

  &[open] {
    border-left: $accentBorder solid tomato;
  }
}

// //   p {
// //     padding: 0;
// //   }

// //   table {
// //     margin: 2.5em 0 1em;
// //   }

// //   .superbox, p, ul {
// //     margin: 1em 0 0;
// //   }

// //   li {
// //     padding: 1em 0;
// //   }

// //   &[open] {
// //     cursor: inherit;

// //     summary {
// //       &::before {
// //         font-family: Kodiranje;
// //         content: '\F39B';
// //         padding-right: 15px;
// //       }
// //     }
//   }
// }

// Most common details, unlike h1 details
details:not([class]) {
  @include border;
  @include boxShadow;
  border-left: $accentBorder solid $topNavLightGreen;
  // cursor: auto;



  // details:after {
  //   display: block;
  // }

//   summary::before {
//     padding-right: 0;
//   }

  &:hover {
    border-left-color: $darkYellow;
  }
}

::marker {
  color: transparent;
}

details[open]:not([class]) {
  border-left-color: tomato;
}

// .sectionTitle {
//   h1 {
//     padding: 0 2em;
//     text-align: center;
//   }

//   & summary {
//     display: inline;

//     &::before {
//       position: absolute;
//       z-index: 1;
//     }
//   }
// }

// @media only screen and (max-width: 39.9375em) {
//   .sectionTitle h1 {
//     margin: 2em -.75em 0 -1.35em;
//   }

//   .sectionTitle summary::before {
//     top: 1.4em;
//     //left: 1em;
//   }
// }

// @media only screen and (min-width: 40em) { // 640
//   details {
//     margin: 1em 0;
//   }

//   .sectionTitle {
//     summary::before {
//       top: 1.25em;
//       left: 1em;
//     }

//     h1 {
//       margin: 0;
//     }
//   }
// }

// @media only screen and (min-width: 40em) {
//   details {
//     & summary {
//       &::before {
//         font-size: 1.5em;
//       }
//     }
//   }

//   details:not([class]) {
//     summary {
//       &::before {
//         top: .1em;
//         padding-right: 1em;
//       }
//     }
//   }

//   .none {
//     & summary {
//       &::before {
//         top: 4.5em;
//         left: 0;
//       }
//     }
//   }
// }



// @media only screen and (min-width: 50em) {
  // .sectionTitle {
  //   li, .superbox {
  //     margin-right: -1em;
  //   }
  // }
// }

// // /////////////////////////////////////////////////////////////////////////////////////////////////////



// details {


//   &[open] {
//     animation-name: fadeInDown;
//     animation-duration: 0.5s;

// }

//     text-shadow: 1px 1px 2px #9af629, -1px -1px 2px #9af629, -1px 1px 2px #9af629, 1px -1px 2px #9af629; // don't remove shadow, the background goes outside



// .warning details {
//   color: blanchedalmond;
// }

// This seems to work only on mobile. 
// On desktop, marker is actually hidden by summary child being set to inline and covering it
// details > summary::-webkit-details-marker {
//   display: none !important;
// }