.superbox {
  @include border;
    border: none;

  @include boxShadow;
  margin-block: 2em;
  position: relative;

  p:last-of-type {
    margin-bottom: 0;
  }

  figure:last-child {
    margin-bottom: 0;
  }
}

.superbox::before {
  font-family: $kodiranje;
  position: absolute;
  left: -1.5rem;
}

.warning::before {
  content: '\0021';
  color: tomato;
}

.tip::before {
  content: '\2606';
}

.quiz::before {
  content: '\003f';
}

:not(details).superbox {
  p:first-of-type {
    margin-top: 0;
  }
}

.warning {
  background-color: $trlRed;
}

.tip {
  background-color: $trlGreen;
  /* this offsets white-space from .ex when it's embeded there */
  white-space: normal; 

  // not sure why this was added, but it really messed everything up in html-css/struktura details>tip 
  // & a {
  //   background-color: $darkYellow;
  // }
}

// for code examples
.ex {
  background-image: url($solBcg);
  border-left: $accentBorder solid $solBoxGreen !important;
  background-color: $solBcgColor;
  font-family: $codeFont;
  
  &:before {
    counter-reset: solCode;
  }

  * {
    font-family: $codeFont;
  }

  & code {
    counter-increment: solCode;
    display: block;
    border-left: $borderWidth solid $fontColor;
    padding-left: $diffusedShadow;
    background: $lightCodeBcg;
    white-space: pre-wrap;
    margin: 0 0 0 1rem;


    &::before {
      font-family: 'lucida console';
      content: counter(solCode) " ";
      margin-left: -2rem;
      margin-right: 1rem;
    }
  }
}

.sol {
  background: aliceblue;
}

.ex .sol {
  margin-bottom: 0;
}

.sol * {
  all: revert;
  line-height: initial;
  font-family: initial;
  // all: unset;
}

// for deprecated code
.depr {
  border-color: $darkTrlRed;
  border-left: $darkTrlRed solid $accentBorder !important;
  position: relative;
  margin-bottom: 3rem;

  &::after {
    content: "Ovakav kôd je zastareo!";
    position: absolute;
    bottom: -2rem;
    font-weight: normal;
    font-size: .8rem;
  }
}

@media screen and (min-width: 48rem) { // 768
  .depr {
    @include tipBasic;
    

    &:hover::before,
    &:hover::after {
      @include tipHoverBeforeAfter;
    }

    &::before,
    &::after {
      @include tipBeforeAfter;
    }

    &::after {
      @include tipAfter;
      font-family: $font;
      background: $tomato;
      content: "Ovakav kôd je zastareo!";
      bottom: unset;
      font-size: unset;
    }

    &::before {
      @include tipBefore;
    }
  }
}

.why {
  background-color: $darkYellow;

  p:first-child {
    font-weight: 900;
  }
}









.quiz {
  background-color: $quiz;
}

// .error {
//   background-color: $dy!important;

//   &::before {
//     content: '\F357';
//     font-family: "Kodiranje";
//     padding-right: 15px;
//   }
// }










// details.warning:before {
//   content: '';
// }