

.superbox {
  @include border;
  @include boxShadow;
  margin: 1em 0;

  p:first-child {
    display: inline;
  }
}

.sol {
  background-image: url($solBcg);
  border-left: $accentBorder solid $solBoxGreen !important;
  background-color: $solBcgColor;
  // line-height: 0px;

  &:before {
    counter-reset: solCode;
  }

  & code {
    counter-increment: solCode;
    display: block;
    border-left: 2px solid $fontColor;
    padding-left: 5px;
    background: $lightCodeBcg;
    white-space: pre-wrap;
    font-weight: bold;
    margin: 0 0 0 2rem;
    text-align: left; // this is important for front page only
    line-height: 1.6rem;

    * {
      font-family: $codeFont !important;
    }

    &::before {
      font-family: 'lucida console';
      content: counter(solCode) " ";
      margin-left: -2rem;
      margin-right: 1rem;
    }
  }
}

.warning {
  background-color: $warning;

  &::before {
    font-family: "Kodiranje";
    content: '\F350';
    padding-right: 1rem;
  }
}

.tip {
  background-color: $tip;
// //   font-weight: bold;
// //   white-space: normal; /* this offsets white-space from sol when it's embeded there */

  &::before {
    font-family: "Kodiranje";
    content: '\F358';
    padding-right: 1rem;
  }

// //   & a {
// //     background-color: $dy;
// //   }
}



.kviz {
  background-color: $quizYellow;

  &::before {
    font-family: 'Kodiranje';
    content: '\F353';
    padding-right: 15px;
  }
}

// // .error {
// //   background-color: $dy!important;

// //   &::before {
// //     content: '\F357';
// //     font-family: "Kodiranje";
// //     padding-right: 15px;
// //   }
// // }



// .why {
//   background-color: $darkYellow;

//   &::before {
//     content: 'Zašto ovo radimo? ';
//     font-weight: bolder;
//   }
// }




// // .depr {
// //    border-color: $wr;
// // }


// // details.warning:before {
// //   content: '';
// // }


.deeppink,
.pink {
  color: #C0C;
}

.seagreen,
.green {
  color: #066;
}

.dimgray,
.dim {
  color: dimgray;
}

.darkviolet,
.violet {
  color: darkviolet;
}

.royal,
.royalblue {
  color: royalblue;
}

.firebrick,
.opeka {
  color: firebrick;
}