#header-top {
  padding: 0px;
  height: $logoHeight;
  background-color: $lightLogoBcg;
}

#logo-text {
  text {
    font-size: 48px; 
    fill: $lightFont;

  }

  position: relative;

  // started here

  .svgTextObscurer {
    fill: $lightLogoBcg;
    width: 284px;
    height: 49px;
    animation: typeWrite 1s steps(10) forwards;
  }

  .svgCursorBlinker {
    fill: $lightLogoBcg;
    width: 30px;
    height: 49px;
    animation: blinker .8s linear .5s 4 forwards;
    // animation: name duration timing-function delay iteration-count direction fill-mode;
  }
}

#rounded-square {
  fill: none;
  stroke: $lightFont;
  stroke-width: 2;
  width: 35;
  height: 35;
}

@keyframes typeWrite {
  to { 
    transform: translate(284px, 0px) 
  }
}

@keyframes blinker {
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}