// @use "../../base/colors" with (
  $side-900: #003333;
  $main-400: #eeffcc; // $lg
  $lightLogoBcg: #031c00;
  $lightTopNavTopGreen: #253c08; // $mainG 
  $lightTopNavBottomGreen: #579905; // $dg
  $lightPageBcg: #000f01; // $white
  $lightInputBcg: #f7ffe8;
// );
@import "../../style.scss";