// sidenav, page nav and reference list

.referalTitle { // titles such as "Reference" & "Sadržaj strane
  width: calc(100% + 2px);
  border-top: $px solid $borderColor;
  background: linear-gradient(0deg, rgba(229,229,229,1), rgba(238,255,204,1) 55%); 
  margin-left: -1px;
  padding: .5rem 1rem .5rem .66rem;
}

.referalItem { 
  @include lightGrayNavs;
  display: flex;
  flex: 1;
  min-height: 2.5rem;

  a {
    padding: .45rem .66rem;
    display: flex;
    flex: 1;
    align-items: stretch;
  }
  
  &:hover {
    background: $shadow;

    a {
      color: $lightBcg;
    }
  }
}

