* {
  font-family: $font;
  color: $lightFont;
  // line-height: 2rem;
  margin: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: $lightBcg;
  display: grid;
  grid-template-columns: 250px 1fr;
}

main {
  grid-column: 1 / 3;
  margin: .8rem;
}

@media only screen and (min-width: 48rem) { // > 1000
  main {
    grid-column: 2/3;
    margin: .4em;
  }
}

.placeholder {
  border-radius: .2em;
  background-color: $lightPageBcg;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  text-align: justify;
}

@media only screen and (min-width: 40em) {
  .placeholder {
    font-size: 1.2rem;
  }
}

article {
  padding: 2rem 1rem;
  line-height: 2rem;
}

@media only screen and (min-width: 48em) {
  article {
    padding: 2rem;
  }
}

@media only screen and (min-width: 62em) {
  article {
    margin: auto;
    width: 42.5rem; // 680px
  }
}

@media only screen and (min-width: 75rem) { // > 1200px
  article {
    width: 52rem;
    margin: auto;
  }
}

article h1 { // article limits style away from landing page
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
  line-height: 4rem;
  border: 1px solid $borderColor;
  border-radius: 5px;
  background: $lightBcg;
  margin: 2.1em -0.7em 2.1em -0.7em; 
  box-shadow: .2em .2em 2em $borderColorTrans;
  padding: .5rem;
}

@media only screen and (min-width: 36rem) { // >576px
  article h1 {
    margin: 3.1rem -1.2rem;
    font-size: 2.7rem;
  }
}

@media only screen and (min-width: 48rem) { // >768px
  article h1 {
    margin: 3.1rem 0;
  }
}

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
//   border: 1px solid $dg;
//   border-radius: 5px;
//   background: $lg;
//   color: #004A00;
//   //margin: .6em 1em .6em 2em;
}


// @media only screen and (min-width: 40em) {
//   h2 {
//     margin: 60px 0;
//     font-size: 2rem;
//   }
// }

// h3 {
//   margin: 1.5em .86em .1em 1.68em;
// }

// @media only screen and (min-width: 40em) {
//   h3 {
//     margin: 20px 0;
//   }
// }

p {
  margin: 2rem 0;
}

// @media only screen and (min-width: 40em) {
//   p {
//     padding: 0;
//   }
// }

// li {
//   padding: 1em 0;
// }

// em {
//   border: 1px solid black;
//   border-radius: 3px;
//   font-style: normal;
//   background-color: $sgt;
//   padding: 0 5px;
//   color: $mainFont;
//   display: inline-block;
// }

// hr {
//   border-style: solid;
//   border-color: #ffc600;
//   margin: 20px 0;
// }

// /* tooltips mobile */
// dfn {
//   font-style: normal;
// }

// @namespace svgns url("http://www.w3.org/2000/svg");
// svgns|a text {
//   cursor: pointer;
//   background-color: white;
// }

// @media only screen and (max-width: 40em) {
//   article {
//     padding: 1em 1em 1em 2em;
//   }
// }


// @media only screen and (min-width: 40em) { // 640px
//   article {
//     padding: 1rem 1.5rem; /*1em 4em*/
//   }
// }

// // @media only screen and (min-width: 50em) { // 800px
// //   article {
// //     padding: 20px 150px 100px;
// //   }
// // }






// @media only screen and (min-width: 75em) { // 1500px
//   article {
//     width: 50em;
//   }
// }

// #content {
//   padding: 10px;
//   margin-top: 2px;
//   grid-column: 1 / 3;
// }

// @media only screen and (min-width: 62.5em) {
//   #content {
//     grid-column: 2 / 3 !important;
//     grid-row: 2 / 3;
//     padding: 0;
//   }
// }