@use "../../base" as *;

.logoBcg, .logoCog {
  display: none;
}

.cogness {
  fill: $side-400;
}

.cogBcg {
  fill: transparent;
}

@include media-768 {

// @media only screen and (min-width: 48rem) { //> 768px where side nav appears
  .logoBcg { 
    display: block;
    height: $logo-height;
    background-color: $side-100;

    #bcg path {
      stroke-dasharray: 2;
      stroke: #b1b1b1;
      stroke-width: 1;
      stroke-dasharray: 1, 10;
    }
  }

  .logoCog {
    display: block;
    position: fixed;
    height: 2.6rem;
    width: 2.6rem;
    top: 9px;
    left: 5px;
    z-index: 1;
  }

  .cogness {
    fill: $main-700;
  }

  #logoRoundedSquare {
    fill: none;
    stroke: $side-900;
    stroke-width: 2;
    width: 35px;
    height: 35px;
  }

  #logoText {
    text {
      font-size: $logo-font-size; 
      fill: $side-900;
    }
  }

  .svgTextObscurer {
    fill: $side-100;
    width: $kodiranje-length;
    height: 3.2rem;
    animation: $typeWriter;
  }
  
  .svgCursorBlinker {
    fill: $side-900;
    width: 1.875rem;
    height: $borderWidth;
    animation: logoCursorBlinker .8s linear .5s 6, $typeWriter;
  }
}