.cog {
  fill:#cdff65; 
  stroke:#2a2a2c; 
  stroke-width:5;
  position: absolute; 
  z-index: 4;
  width: 2.5rem; // 40px
  height: 2.5rem;
}

#logoBcg { 
  height: $logoHeight;
  background-color: $logoBcg;
}

#logoRoundedSquare {
  fill: none;
  stroke: $fontColor;
  stroke-width: 2;
  width: 35;
  height: 35;
}

#logoText {
  text {
    font-size: 3rem; 
    fill: $fontColor;
  }

  .svgTextObscurer {
    fill: $logoBcg;
    width: $kodiranjeLength;
    height: 3.2rem;
    animation: $typeWriter;
  }

  .svgCursorBlinker {
    fill: $fontColor;
    width: 1.875rem;
    height: $borderWidth;
    animation: logoCursorBlinker .8s linear .5s 6, $typeWriter;
  }
}