.logoBcg, .logoCog {
  display: none;
}

.cogness {
  fill: $cogGray;
}

.cogBcg {
  fill: transparent;
}

@media only screen and (min-width: 48rem) { //> 768px where side nav appears
  .logoBcg { 
    display: block;
    height: $logoHeight;
    background-color: $logoBcg;
  }

  .logoCog {
    display: block;
    position: fixed;
    height: 2.6rem;
    width: 2.6rem;
    top: 11px;
    left: 4px;
    z-index: 1;
  }

  .cogness {
    fill: $cogGreen;
  }

  #logoRoundedSquare {
    fill: none;
    stroke: $fontColor;
    stroke-width: 2;
    width: 35px;
    height: 35px;
  }

  #logoText {
    text {
      font-size: 3rem; 
      fill: $fontColor;
    }
  }

  .svgTextObscurer {
    fill: $logoBcg;
    width: $kodiranjeLength;
    height: 3.2rem;
    animation: $typeWriter;
  }
  
  .svgCursorBlinker {
    fill: $fontColor;
    width: 1.875rem;
    height: $borderWidth;
    animation: logoCursorBlinker .8s linear .5s 6, $typeWriter;
  }
}