progress {
  width: 100vw;
  border: none;
  border-radius: 0;
  background: transparent;
  height: .2rem;
  position: fixed;
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-moz-progress-bar,
progress::-webkit-progress-value {
  background: $borderColor;
}

@media only screen and (min-width: 48rem) { 
  // > 768px where side nav appears
  progress {
    display: none;
    height: 6px;
    position: fixed;
    top: 58px;
  }
}