header {
  grid-column: 1 / 3;
  position: relative; // for themeToggle
}

.headerBottom {
  @include spread;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, $topNavDarkGreen 0%, $topNavLightGreen 100%);
  padding-left: 4rem; // bumped away from the cog
  width: 100vw; // position fixed added thr js, shrinks it
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  height: $topNavHeight;
  z-index: 3;
  text-transform: uppercase;
}

.topNav {
  display: flex;
  align-items: center;
}

.menuitems {
  padding: .6rem;
  border-right: 1px solid;
  text-shadow: $px $px $diffusedShadow $shadow;
}

.menuitems:last-child {
  border-right: none;
}

.topNav .active {
//   font-weight: bolder;
  // background: chartreuse;

  a span::before {
    color: $darkYellow;
  }
}


.menu-lg {
  display: none;
}

.menu-sm {
  @include spread;
}

.backHome {
  font-size: 1.5em;
  visibility: hidden;
  margin-right: 1rem;
}

// classes added through js 
.fixed-top { // green bar 
  position: fixed !important;
  top: 0;
}

@media only screen and (min-width: 48rem) { // > 768
  .headerBottom {
    padding-left: 0;
  }

  .topNav {
    @include spread;

    & .active {
      font-weight: bolder;
      background: $topNavLightGreen;

      .menu-lg {
        text-decoration: underline;
      }
    }
  }

  .menuitems {
    @include spread;
    font-size: 1rem;
    width: 8rem;
    padding: 0;
        
    a {
      @include spread;
    }
  }

  .backHome::before {
    margin-right: 1rem;
  }

  .menu-sm {
    display: none;
  }

  .menu-lg {
    @include spread;
    display: flex;
    position: relative; // for before
    justify-content: center;
    align-items: center;

    &:before {
      content: '';
      width: 0%;
      height: .3rem;
      background: $darkYellow;
      position: absolute;
      top: 0;
      transition: width .5s ease-in;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
}