@use "../base" as *;

.admin-btn {
  @include box-shadow;
  font-size: 1.5rem;
  font-weight: bold;
  margin-block: 1rem;
  padding: 1rem;

  &:hover {
    cursor: pointer;
  }

  &::before {
    font-family: $kodiranje;
    font-size: 2rem;
  }
}

.admin-wideBtn {
  width: 100%;
  display: grid;
  grid-template-columns: auto 60%;
  justify-content: center;
  align-items: center;
}

.admin-loginBtn {
  background: $main-800;
  // text-shadow: 1px 1px 15px $trl-red;

  &:hover {
    background: $main-900;
  }

  &:active {
    color: $dark-yellow;
  }

  &:before {
    content: '\00c4';
  }
}

.admin-newBtn {
  background: linear-gradient(to bottom, $trl-green 50%, $main-800 100%);
  // text-shadow: 1px 1px 15px $side-400;

  // &:hover {
  //   background: $main-900;
  // }

  // &:active {
  //   color: $dark-yellow;
  // }

  &:before {
    content: '\002b';
  }
}

.admin-saveButton {
  background: linear-gradient(to bottom, $trl-green 50%, $main-800 100%);
  // padding: 1rem;
  // text-shadow: 1px 1px 15px $side-400;
  font-size: 1.5rem;
  font-weight: 900;

  &:hover {
//     background: $dg;
//     color: $mainFont;
  }

  &:active {
//     color: $dy;
  }

  &:before {
    font-family: $kodiranje;
    content: '\00c1';
    font-size: 2rem;
  }
}

// .admin-detailsBtn {
//   background: transparent;
//   width: 4rem;
//   height: 4rem;
//   // text-shadow: 1px 1px 15px ivory;
//   border: none;
//   box-shadow: none;
//   cursor: pointer;

//   &:hover {
//     // background: rgb(255, 199, 59);
//   }

//   &:before {
//     font-family: Kodiranje;
//     content: '\1f6c8';
//     font-size: 1.5rem;
//     font-weight: bold;
//   }
// }

.admin-editBtn {  
  @include blankAdminButton;
  justify-content: center;
  
  &:before {
    // font-family: $kodiranje;
    content: '\00c5';
  }
}

.admin-editButton {
  background: linear-gradient(to bottom, $trl-yellow 50%, $dark-yellow 100%);
  // padding: 1rem;
  // text-shadow: 1px 1px 15px $side-400;
  font-size: 1.5rem;
  font-weight: 900;

  &:before {
    content: '\00c5';
  }
}

.admin-warningBtn {
  @include blankAdminButton;
  // background: tomato;
  // width: 4rem;
  // height: 4rem;
  // text-shadow: 1px 1px 15px red;

  // &:hover {
  //   background: rgb(240, 62, 62);
  // }

  &:before {
    // font-family: Kodiranje;
    content: '\00c3';
  }
}






.admin-allButton {
  background: linear-gradient(to bottom, $trl-yellow 50%, $dark-yellow 100%);
  // text-shadow: 1px 1px 15px $side-400;
  font-size: 1.5rem;
  font-weight: 900;

  &:before {
    content: '\00C2';
  }
}

.admin-reorderButton {
  background: $dark-yellow;
//   width: 4em;
//   height: 4em;
//   text-shadow: 1px 1px 15px ivory;
//   font-size: 1em;

//   &:hover {
//     background: rgb(255, 199, 59);
//   }

  &:before {
    font-family: $kodiranje;
    content: '\00c6';
//     font-size: 2em;
  }
}





// .adminButton {
  // display: flex;
  // align-items: center;
  // width: 4em;
  // height: 4em;
//   justify-content: center;
//   font-size: 1em;
//   box-shadow: 1px 1px 2px rgb(128, 128, 128);

//   &:hover {
//     cursor: pointer;
//   }
// }