@use "../base" as *;

.editMenu {
  @include adminmenues;
  position: absolute;
  display: none;
  z-index: 1; // checkbox from floating menu will be above this w/o it

  sub { // Positions indexes next to headings
    position: relative;
    top: 8px;
    font-weight: bolder;
  }

  ul {
    margin: 0 .1em;
  }

  li {
    padding: .16rem 1rem;
    border-bottom: $px solid $main-900;
    text-shadow: 1px 1px 15px rgb(154, 246, 41);
    box-shadow: 1px 1px 5px rgb(154, 246, 41);
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-items: center;

    &:last-child {
      border: none;
    }
  }
}

span.editMenuItem:hover {
  cursor: pointer;
  background: $main-400;
  color: $font;
}

.editMenu .switch {
  display: grid !important;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 1rem;
  gap: 1rem;
  font-size: 2em;

  span {
    width: 100%;
    text-align: center;

    &:hover {
      cursor: pointer;
      background: $main-400;
      color: $side-900;
    }
  }
}