@use "../base" as *;

span.editMenuItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  font-family: $kodiranje;
  font-weight: bold;
}

.showMeCode:before {
  font-family: $kodiranje;
  content: '\02b0';
  font-weight: bold;
}

.showMeGui:before {
  font-family: $kodiranje;
  content: '\02b1';
  font-weight: bold;
}

.headings:before {
  content: '\02b2';
}



.sb {
  &::before {
    content: '\02b3';
  }
}

.sb-tip {
  color: $main-900;
}

.sb-warning {
  color: $trl-red;
}

.sb-quiz {
  color: $dark-yellow;
}

.sb-why, .sb-bug {
  color: $dark-yellow;
}

.sb-ex {
  color: wheat;
}

.terminal::before {
  content: '\02b4';
}

.cons::before {
  content: '\02b5';
}

.ard::before {
  content: '\F3EC';
  color: $side-800;
}

.quotation::before {
  content: '\F34B';
}

.tooltip::before {
  content: '\F2E9';
  color: $dark-yellow;
}

.insertImg:before {
  content: '\F2CA';
}

.insDetails::before {
  content: '\F396';
}

.extLink::before {
  content: '\F2EB';
}

.intLink::before {
  content: '\F2EA';
}

.ref::before {
  content: '\F2EC';
}

.insCode::before {
  content: '\F2DA';
}

.pinkCode::before {
  color: deeppink;
}

.greenCode::before {
  color: seagreen;
}

.violetCode::before {
  color: darkviolet;
}

.blueCode::before {
  color: royalblue;
}

.spell::before {
  content: '\f2f0';
  color: red;
}

.grayHighlight {
  color: $main-400;
    
  &:before {
    content: '\F2E8'
  }
}

.greenHighlight {
  color: $main-800;

  &::before {
    content: '\F2E4';
  }
}