@import "../base/mixins";

.floatingMenu {
  @include adminmenues;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 10rem;
  left: 17rem;
  padding-top: 3.5rem;

  label, span {
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  .allButton {
    position: relative;
  }

  .floatingGreen {
    color: $topNavLightGreen;
    text-shadow: 1px 1px 15px $topNavLightGreen;
  }

  .floatingYellow {
    color: $darkYellow;
    text-shadow: 1px 1px 15px $darkYellow;
    margin-bottom: 1rem;
  }

  .floatingWarning {
    color: $darkTrlRed;
    text-shadow: 1px 1px 15px $darkTrlRed;
  }

  .nocolor {
    @include spread;
    @include center;
  }
}

// Icons

.saveButton:before {
  content: '\00c1';
}

.allButton:before {
  content: '\00c2';
}

.trashButton:before {
  content: '\00c3';
}