@use "../base" as *;

.floatingMenu {
  @include adminmenues;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 10rem;
  left: 17rem;
  padding-top: 3.5rem;

  label, span {
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  .allButton {
    position: relative;
  }

  .floatingGreen {
    color: $main-800;
    text-shadow: 1px 1px 15px $main-800;
  }

  .floatingYellow {
    color: $dark-yellow;
    text-shadow: 1px 1px 15px $dark-yellow;
    margin-bottom: 1rem;
  }

  .floatingWarning {
    color: $tomato;
    text-shadow: 1px 1px 15px $tomato;
  }

  .nocolor {
    @include spread;
    @include center;
  }
}

// Icons

.saveButton:before {
  content: '\00c1';
}

.allButton:before {
  content: '\00c2';
}

.trashButton:before {
  content: '\00c3';
}