.ttip {
  display: inline;

  &::after {
    content: ' ('attr(data-tooltip)')';
    // font-size: .8rem;
    display: inline;
    color: $opeka;
    white-space: break-spaces;
  }

  // & em {
  //   border-bottom: 2px solid $darkYellow;
  // }
}

figure {
  .ttip {
    background: none;
    font-weight: normal;
    box-shadow: none;
    padding-inline: 0;
  }

  .ttip::after {
    display: none;
  }
}

@media only screen and (min-width: 48em) { // > 768px sidenav visible
  .ttip {
    @include tipBasic;
    // don't make tipbox wider than double margin, so even if it materializes at the end of the text, it doesn't go off the page
    // --tipWidth: calc(2 * var(--artPadding));
    // display: inline-block;
    font-weight: bolder;
    box-shadow: inset 0 -.7rem 0 #ffb600,inset 0 .8rem #ffee61;
    padding-inline: .33rem;
  
    &:hover::before,
    &:hover::after {
      @include tipHoverBeforeAfter;
    }

    &::before,
    &::after {
      @include tipBeforeAfter;
    }

    &::after {
      @include tipAfter;
      color: $fontColor;
    }

    &::before {
      @include tipBefore;
    }
  }

  figure {
  .ttip::after {
    display: inline-block;
  }
}
}

.why .ttip {
  box-shadow: inset 0 -.7rem 0 $topNavDarkGreen,inset 0 .8rem $topNavLightGreen;
}

// this is so that old code can be easily noticed and replaced with new code.
// once all pages are fixed, this can be removed
.tt { 
  border: 5px solid red;
}