@use "../base" as *;

// #TODO: this is so that old code can be easily noticed and replaced with new code.
// once all pages are fixed, this can be removed. remove when possible.
.tt { 
  border: 5px solid red;
}

.ttip {
  display: inline;

  &::after {
    content: ' ('attr(data-tooltip)')';
    // font-size: .8rem;
    display: inline;
    text-align: justify;
    color: $opeka;
  }
}


// special cases
.why .ttip,
.quiz .ttip {
  box-shadow: inset 0 -.7rem 0 $main-900, inset 0 .8rem $main-800;
}

figure > .ttip {
  background: none;
  font-weight: normal;
  box-shadow: none;
  padding-inline: 0;
  display: inline;
}

figure {
  .ttip::after {
    display: none;
  }
}

@media only screen and (min-width: 48rem) { // > 768px sidenav visible
  .ttip {
    @include tipBasic;
    font-weight: bolder;
    box-shadow: inset 0 -.5rem 0 #ffb600,inset 0 .8rem #ffee61;
    padding-inline: .33rem;

    &::after {
      color: $side-900;
      text-align: center;
      text-transform: capitalize;
    }

    &::before {
      @include tipBefore;
    }
  }

  figure {
    .ttip::after {
      display: inline-block;
    }
  }
}

@media only screen and (min-width: 100rem) { // this where --artPadding goes to 0
  .ttip::after,
  figure .ttip::after {
    max-width: calc(100vw - 1050px);
    min-width: fit-content;
    white-space: nowrap;
  }
}