<a href="/" rel="start chapter" aria-label="homepage" class="nocolor">
  <g id="logoText">
    <text x="40" y="48">kodiranje</text>
    <rect class="svgTextObscurer" x="43" y="12" />
    <rect class="svgCursorBlinker" x="43" y="59" />
  </g>
</a>