<div class="logoBcg lazy" id="logoBcg">
  <svg class="logo lazy" preserveAspectRatio="none" style="height: 64px;width: 100vw; position: relative;">
    {{>basics/header/logo/cog/cogAnimation}}

    <title>Kodiranje_ logo</title>
    <desc>logo sajta</desc>
    
    {{>basics/header/logo/kodiranje}}
    {{>basics/header/logo/bcg}}
    {{>basics/header/logo/roundedSquare}}
    {{>basics/header/logo/fakeSelection}}
    
    
  </svg>
</div>
{{>basics/header/logo/cog/cog}}