label, input {
  width: 100%;
}

label {
  text-align: left;
  display: inline-block;
  margin: 2em 0 1em;
}

label[for=dugme] {
  border: 1px solid $darkF;
  text-align: center;
  height: 2em;
  border-radius: $inputBorderRadius;
  background: $buttonBackground;
  box-shadow: 1px 1px 2px gray;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  &:hover {
    cursor: pointer;
    background: $dy;
  }

  &:active {
    box-shadow: -1px -1px 2px gray;
  }
}

#dugme {
  display: none;
}

textarea {
  width: 100%;
  resize: vertical;
}

select {
  width: 100%;
  font-size: 1.2rem;
}

.admin {
  border-radius: $inputBorderRadius;
  font-size: 1.2rem;
  padding: .2em .4em;
}

input[type="file"] {
  display: none;
}

label[for="socImage"]:after {
  content: 'Izaberi sliku';
  width: 10em;
  border: 1px solid $darkF;
  border-radius: $inputBorderRadius;
  text-align: center;
  display: block;
  background: $buttonBackground;
}

input[type="checkbox"] {
  display: none;
  // visibility: hidden;
  // width: 0;
  // height: 0;
}

label[for="active"] {
  margin-top: 2em;
  display: inline-flex;
}

label[for="active"]:after {
  content: ' ';
  width: 2rem;
  height: 2rem;
  border: 1px solid $darkF;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 1em;
  background: mintcream;
  line-height: 1em;
}

input[type="checkbox"]:checked ~ label[for="active"]:after,
input[type="checkbox"]:checked ~ label[for]:after {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  font-size: 40px;
  background: $buttonBackground;
}

.adminInput {
  position: relative;
}

span[data-counter] {
  color: lightgray;
  position: absolute;
  right: .5em;
  top: 2em;
  z-index: 1;
}

.m2r {
  padding-right: 2.5em;
}

/* js added class */
.redColor {
  color: firebrick !important;
}

.added-items {
  position: relative;
  margin-right: 0;
  padding: 1em;
  border: 2px solid $darkF;
  border-radius: $inputBorderRadius;
}

.added-items li {
  background: rgb(140, 224, 102);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 2px solid $darkF;
  border-radius: $inputBorderRadius;
  padding: 1em;
  width: calc(100% - 2em - 4px);
  cursor: move;
  margin: 1em auto;
  
  &.inactive-item {
    background: lightgray;
  }
}

.placeholder .adminError {
  background: $wr;
  color: ivory;
  padding: .5em;
  text-align: center;
  border-radius: .3em;
  text-shadow: 1px 1px 1px black; 
  font-weight: bolder;
  box-shadow: 1px 1px 1px black;
}

.adminButton {
  width: 100px;
}

.wideAdminButton {
  width: 100%;
  height: 3em;
  margin: 1em 0;
}

.dragged {
  background-color:$mainG !important;
  color: white;
  border: white !important;
}