.cmdborder {
  border: thin solid black; 
  border-radius: 4px;
  margin-top: .85em;
}

.cmd {
  border-radius: 4px;
  border: 7px solid rgb(176, 209, 243);
  box-shadow: 3px 3px 5px #888888;
  color: #bdbdbd;
}

.lilcmd {
  display: inline-block;
  height: 16px;
  width: 18px;
  background-color: black;
  margin-bottom: 2px;
  margin-right: 5px;
  color: white;
  font-size: 10px;
  border: thin solid white;
}

.cmdtitlebar {
  background-color: rgb(176, 209, 243);
  font-size: 16px;
  text-align: left;
  color: $darkF;
}

.cmdwindow {
  color: #bdbdbd;
  word-break: break-all;
  background-color: black;
  padding: 5px;
  border: thin solid white;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

.gityellow {
  color: $gityellow;
  font-family: "Lucida Console", Monaco, monospace;
}

.gitgreen {
  color: $gitgreen;
  font-family: "Lucida Console", Monaco, monospace;
}
.gitred {
  color: $gitred;
  font-family: "Lucida Console", Monaco, monospace;
}
.gitwhite {
  color: $gitwhite;
  font-family: "Lucida Console", Monaco, monospace;
}