.console {
  border: 2px solid $darkF;
  font-weight: thin;
  margin:10px 0;
  border-radius: 5px;
  overflow: hidden;

  & * {
    color: #bbb;
  }
}

.consoleMenu {
  display: flex;
  flex-basis: 100%;
  padding: 0;
  align-items: start;
  height: 28px;
  justify-content: space-between;
  width: 100%;

  & * {
    padding: 0 5px;
  }

  & .fitr {
    justify-self: right;
    z-index: 1;
  }

  & .fitl {
    text-align: left;
    flex-wrap: nowrap;

    & * {
      width: fit-content;
      justify-self: left;
    }
  }
}

.inspector,
.debugger,
.consoleCheck {
  display: none;
}

@media only screen and (min-width: 940px) {
  .inspector {
    display: inline;
   }
}

@media only screen and (min-width: 830px) {
  .consoleCheck {
    display: inline;
  }
}

@media only screen and (min-width: 1085px) {
  .debugger {
    display: inline;
  }
}

.consoleFilter {
  overflow-x: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  clear: both;

  & * {
    display: inline;
    justify-content: space-between;
    flex-wrap: nowrap;
    white-space: nowrap;
  }
}

.filtbox * {
  text-align: left;
}

.consPers {
  white-space: nowrap;
  text-align: right;
  /*float: right;*/
  overflow-x: none;
}

.fake-search {
  border: 2px solid $conB;
  padding: 0 3px;
  border-radius: 2px; 
}

.consoleMenu,
.consoleFilter,
.consoleNotification,
.consoleList {
  border-bottom: 1px solid $conLG;
}
.cp5 {
  padding: 5px;
}

.consoleList {
  width: 100%;
  height: 29px;
  text-align: left;
  overflow: hidden;
  border: 2px solid $darkF;
  border-radius: 5px;

  & * {
    flex-wrap: nowrap;
    padding: 0 10px;
    margin: 0 2px;
  }
}

.consoleCh {
  border-radius: 2px;
  background-color: $conB;
  color: white;
  display: inline-flex;
  margin-bottom: 3px;
  margin-left: 0;
}

.consoleUnch {
  border-radius: 2px;
  background-color: $conDG;
  display: inline-flex;
  margin-bottom: 3px;
  margin-left: 0;
}

.gt {
  color: $conLG;
}

.consoleCheck {
  border-top: 3px solid $conB;
  padding-top: 1px;
  color: $conB;
  white-space: nowrap;
}

.consoleCheck .fa-terminal {
  color: $conB;
}

.conFitter {
  justify-self: right;
}

.consoleInput {
  //color: $darkF;
}