.devTools, .devhtm, .devSelectors, .devLayout {
    border: 1px solid black;
}

.devhtmNav {
    border: none;

    p {
        padding: 1em;
    }
}

.devhtmNav li,
.devLayoutTabs li {
  display: inline-block;
  padding: 0;
}

.devcss {
  display: flex;
  flex-direction: row;
}
