@import "mixins";

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(46, 139, 87, .5);
  z-index: 10;
  display: none;
  justify-items: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.editHelper {
  @include adminmenues;
  position: absolute;
  width: 500px;
  padding: 2em;
  display: none;

  .linkBoxTitle, .boxTitle {
    margin-top: 0;
    color: $mainG;
    font-size: 1.5em;
    text-shadow: 1px 1px 15px rgb(154, 246, 41);
  }

  div {
    position: relative;
  }

  input {
    box-shadow: 1px 1px 15px rgb(154, 246, 41);
    margin: 1.5em 0;
    font-size: 1.2em;

    &:hover {
      cursor: text;
    }
  }

  input ~ label {
    position: absolute;
    color: $darkF;
    z-index: 6;
    top: 2.2em;
    left: .6em;
    transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
    text-shadow: 1px 1px 15px rgb(154, 246, 41);
  }

  input:focus ~ label, input:valid ~ label {
    color: $mainG;
    top: 0;
  }

  select {
    box-shadow: 1px 1px 15px rgb(154, 246, 41);
    margin: 0 0 1.5em;
    font-size: 1.2em;
    height: 1.9em;
  }

  .buttons {
    color: $mainG;
    font-size: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: .4em;

    span {
      cursor: pointer
    }
  }

  input[type="checkbox"] ~ label {
    position: static;
  }
  .editCheckbox:after {
    content: '';
    margin-left: 2em;
    width: .8em;
    height: .8em;
    font-size: 40px;
    // background: $buttonBackground;
    border-radius: 50%;
    border: 5px solid $mainG;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input[type="checkbox"]:checked ~ label:after {
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    
  }
}