.editMenu {
  position: absolute;
  border: 9px double rgb(0, 0, 0);
  border-radius: .5em;
  background: rgb(86, 86, 86);
  background-clip: padding-box;
  display: none;
  color: #efefef;
  box-shadow: 1px 1px 10px gray;
  z-index: 5;
  
  ul {
    margin: 0 .1em;
  }

  li {
    padding: .16em 1em;
    border-bottom: 1px solid $dg;
    text-shadow: 1px 1px 15px rgb(154, 246, 41);
    box-shadow: 1px 1px 5px rgb(154, 246, 41);

    &:last-child {
      border: none;
    }

    // &:hover {
    //   cursor: pointer;
    //   background: $lg;
    //   color: $darkF;
    // }
  }

  .switch {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 1em;
    font-size: 2em;

    span {
      display: inline-block;
      width: 200%;
      text-align: center;
    }

    span:hover {
      cursor: pointer;
      background: $lg;
      color: $darkF;
    }

    .showMeCode:before {
      font-family: "Font Awesome 5 Free";
      content: '\f1c9';
      font-weight: bold;
    }

    .showMeGui:before {
      font-family: "Font Awesome 5 Free";
      content: '\f571';
      font-weight: bold;
    }
  }

  .highlights:before {
    font-family: "Font Awesome 5 Free";
  }

  .grayHighlight {
    color: $sg;
    
    &:before {
      content: '\f0c8'
    }
  }

  .greenHighlight {
    color: $mainG;
    font-weight: bold;

    &::before {
      content: '\f591';
    }
  }

  .sb {
    &::before {
      font-family: "Font Awesome 5 Free";
      content: '\f49e';
      font-weight: bold;
    }
  }

  .sb-tip {
    color: $dg;
  }

  .sb-warning {
    color: $wr;
  }

  .sb-quiz {
    color: $qy;
  }

  .sb-why {
    color: $dy;
  }

  .sb-sol {
    color: wheat;
  }
}