@import "mixins";

.editMenu {
  @include adminmenues;
  position: absolute;
  // border: 9px double rgb(0, 0, 0);
  // border-radius: .5em;
  // background: rgb(86, 86, 86);
  // background-clip: padding-box;
  display: none;
  // color: #efefef;
  // box-shadow: 1px 1px 10px gray;
  // z-index: 5;

  sub {
    position: relative;
    top: 8px;
    font-weight: bolder;
  }
  
  ul {
    margin: 0 .1em;
  }

  li {
    padding: .16em 1em;
    border-bottom: 1px solid $dg;
    text-shadow: 1px 1px 15px rgb(154, 246, 41);
    box-shadow: 1px 1px 5px rgb(154, 246, 41);
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-items: center;

    &:last-child {
      border: none;
    }

    // &:hover {
    //   cursor: pointer;
    //   background: $lg;
    //   color: $darkF;
    // }
  }

  span.editMenuItem {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
  }
  span.editMenuItem:hover {
    cursor: pointer;
    background: $lg;
    color: $darkF;
  }

  .switch {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 1em;
    font-size: 2em;

    span {
      display: inline-block;
      width: 100%;
      text-align: center;

      &:hover {
        cursor: pointer;
        background: $lg;
        color: $darkF;
      }
    }

    

    .showMeCode:before {
      font-family: Kodiranje;
      content: '\F2D8';
      font-weight: bold;
    }

    .showMeGui:before {
      font-family: Kodiranje;
      content: '\F2D9';
      font-weight: bold;
    }
  }

  .highlights:before {
    font-family: Kodiranje;
  }

  // :hover {
  //   background: ;
  // }

  .grayHighlight {
    color: $sg;
    
    &:before {
      content: '\F2E8'
    }
  }

  .greenHighlight {
    color: $mainG;
    font-weight: bold;

    &::before {
      content: '\F2E4';
    }
  }

  .sb {
    &::before {
      font-family: Kodiranje;
      content: '\F2DE';
    }
  }

  .sb-tip {
    color: $dg;
  }

  .sb-warning {
    color: $wr;
  }

  .sb-quiz {
    color: $qy;
  }

  .sb-why, .sb-bug {
    color: $dy;
  }

  .sb-sol {
    color: wheat;
  }

  .terminal::before {
    font-family: Kodiranje;
    content: '\F3D7';
    font-weight: bold;
  }

  .cons::before {
    font-family: Kodiranje;
    content: '\F2EE';
  }

  .ard::before {
    font-family: Kodiranje;
    content: '\F3EC';
    font-weight: bold;
    color: $ardLight;
  }

  .insertImg:before {
    font-family: Kodiranje;
    content: '\F2CA';
  }

  .headings:before {
    font-family: Kodiranje;
    content: '\F2E0';
    font-weight: bold;
  }

  .quotation::before {
    font-family: Kodiranje;
    content: '\F34B';
    font-weight: bold;
  }

  .tooltip::before {
    font-family: Kodiranje;
    content: '\F2E9';
    color: $dy;
  }

  .insDetails::before {
    font-family: Kodiranje;
    content: '\F396';
  }

  .extLink::before {
    font-family: Kodiranje;
    content: '\F2EB';
    font-weight: bold;
  }

  .intLink::before {
    font-family: Kodiranje;
    content: '\F2EA';
    font-weight: bold;
  }

  .ref::before {
    font-family: Kodiranje;
    content: '\F2EC';
    font-weight: bold;
  }

  .insCode::before {
    font-family: Kodiranje;
    content: '\F2DA';
    font-weight: bold;
  }

  .pinkCode::before {
    color: deeppink;
  }

  .greenCode::before {
    color: seagreen;
  }

  .violetCode::before {
    color: darkviolet;
  }

  .blueCode::before {
    color: royalblue;
  }

  .spell::before {
    font-family: Kodiranje;
    content: '\F232';
    font-weight: bold;
    color: $wr;
  }

}