.floatingMenu {
  border: 9px double black;
  border-radius: .5em;
  display: inline-block;
  position: fixed;
  top: 126px;
  padding-top: 62px;
  left: 14.3em;
  width: 91.2px; /* so it doesn't jump */
  background: rgb(86, 86, 86);
  background-clip: padding-box;
  box-shadow: 1px 1px 10px gray;

  label, span {
    font-size: 2.5em;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
  }

  .floater {
    margin: .7em 0;
  }

  .floatingGreen {
    color: $mainG;
    text-shadow: 1px 1px 15px $mainG;
  }

  .floatingYellow {
    color: $dy;
    text-shadow: 1px 1px 15px $dy;
  }

  .floatingWarning {
    color: $wr;
    text-shadow: 1px 1px 15px $wr;
  }

}