footer {
  background-color: $mainG;
  background: linear-gradient(to bottom, $lg 0%, $dg 30%);
  z-index: 3;
  grid-column: 1 / 3;
  padding: 5px;
  text-align: center;

  & > hr {
    width: 90%;
    margin: 10px auto 20px;
    border-color: $lightF;
    align-items: center;
  }
}

.links {
  display: none;
}

@media only screen and (min-width: 940px) {
  .links {
    text-align: right;
    grid-column: 1/2;
    display: inline;

    & div {
      border: 2px solid $darkF;
      border-radius: 5px;
      background-color: $mainG;
      padding: 3px 5px;
      display: inline-block;
      max-width: fit-content;
      margin-top: 5px;
    }
  }

  div.links div.icon {
    text-align: center;
    border: 2px solid $darkF;
    border-radius: 5px;
    background-color: $dy;
    padding: 3px;
    display: inline-block;
    width: 35px;
    cursor: pointer;
  }
}

.various {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  padding-bottom: 20px;
  grid-auto-rows: all;
  font-weight: 700;
}

@media only screen and (min-width: 940px) {
  .various {
    display: grid;
    grid-template-columns: 1fr auto 3fr;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    padding-bottom: 20px;
    grid-auto-rows: all;
    font-weight: 700;
  }
}

.don {
  text-align: left;
  display: none;

  & div, 
  & div.adr {
    border: 2px solid $darkF;
    border-radius: 5px;
    background-color: $mainG;
    padding: 5px 7px;
    display: inline-block;
    max-width: fit-content;
    margin-top: 5px;
    width: 100%;
  }
}

@media only screen and (min-width: 940px) {
  .don {
    grid-column: 3/4;
    display: inline;
  }
  
  div.don div.icon {
    width: 35px;
    text-align: center;
  }
}

@media only screen and (min-width: 940px) {
  .icon + .warning, 
  .icon + .tip, 
  div.various > div.links > div.icon + div.sol, 
  .icon + .error, 
  .icon + .kviz {
    width: auto !important;
    cursor: context-menu !important;
    /**/
  }
  div.various > div.links > div.icon + div.sol {
    padding-right: 35px !important;
    cursor: context-menu !important;
  }

  div.don div.adr {
    background-color: $dy;
  }
}

.cogitself {
  position: relative;
  display: grid;
  min-width: 192px;
  min-height: 192px;
  justify-items: center;
  align-items: center;
  overflow: hidden;

  & img {
    -webkit-animation:spin 60s linear infinite;
    -moz-animation:spin 60s linear infinite;
    animation:spin 60s linear infinite;
  }
}

.cogtext {
  position: absolute;
  z-index: 1;
  font-weight: 900;
  font-size: 25px;
  padding: 3px 17px;
  background-color: $dy;
  border: 2px solid $darkF;
  border-radius: 5px;
}