@font-face {
  font-family: "Kodiranje";
  font-style:normal;
  font-weight:normal;
  font-display:auto;
  //src: url("kodiranje.eot");
  //src: url("kodiranje.eot?#iefix") format("embedded-opentype"),
  src: url("kodiranje.woff2") format("woff2"),
       url("kodiranje.woff") format("woff"),
       url("kodiranje.ttc") format("truetype"),
       url("kodiranje.svg") format("svg")
}

.icon {
  font-family: 'Kodiranje';
  font-size: 26px;
}

.windows-old::before {
  content: '\f28f';
}

.icon-red {
  color: firebrick;
  padding-left: 1em;
}

// nav icons

.backHome:before {
  content: '\F295';
}

.htmlIcon:before {
  content: '\F3CD';
}

.cssIcon:before {
  content: '\F3CE';
}

.arduinoIcon::before {
  content: '\F3EC';
}

.jsIcon:before {
  content: '\F3D2';
}

.gitIcon:before {
  content: '\F3D8';
}

.cmdIcon:before {
  content: '\F3D7';
}

.nodeIcon:before {
  content: '\F3D3';
}

// soc

.twitterIcon:before {
  content: '\F332';
}

.facebookIcon:before {
  content: '\F331';
}

.mailIcon:before {
  content: '\F333';
}

.gitterIcon:before {
  content: '\F330';
}

.warningIcon {
  background-color: $wr;
}
.warningIcon:before {
  content: '\f350';
}
.tipIcon {
  background-color: $dg;
}
.tipIcon:before {
  content: '\F358';
}
.kvizIcon {
  background-color: $qy;
}
.kvizIcon:before {
  content: '\F353';
}
.errorIcon {
  background-color: $dy;
}
.errorIcon:before {
  content: '\F357';
}
.solIcon {
  background: #f5fffa;
}
.solIcon:before {
  content: '';
  width: 0px;
}




// smilies https://unicode.org/emoji/charts/full-emoji-list.html

.em {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px gray;
}

.unamused:before {
  content: '\1F612'
}

.smiley:before {
  content: '\1F642';
}

.sad:before {
  content: '\1F61E';
}

.confused:before {
  content: '\1F615';
}

.duh:before {
  content: '\1F616';
}

.cray:before {
  content: '\1F92A';
}

.plaz::before {
  content: '\1f61c';
}

.up::before {
  content: '\1F446';
}