// LINKS 
a, a:visited {
  text-decoration: none;
  background-color: $mainG;
  color: $darkF;
  // border: 1px solid $darkF;
  // border-radius: 3px;
  // padding: 0 5px;
}

a:not([class]):hover,
a.tt:hover {
  background: $dy;
}

a.nocolor {
  background-color: transparent;
}

main a[href^="http"]:before, 
main a[href^="https"]:before {
     content: "" url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}

a[name] {
  text-decoration: none;
  padding-top: 7em;
  background: transparent;
}

// .inl a[name] h1 {
//   display: flex;
//   cursor: pointer;
// }