.placeholder {
  background-color: $articleBcg;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  text-align: justify;
}

@media only screen and (min-width: 30rem) { 
  .placeholder {
    width: calc(100vw - 1rem);
  }
}

@media only screen and (min-width: 48rem) {
  .placeholder {
    font-size: 1.2rem;
  }
}

.placeholder .ex {
  background: whitesmoke;
  color: $fontColor;
  margin-bottom: 0;
  white-space: normal; /* to offset one from the ex */
}


// #placeholder #emUnitDemo,
// #placeholder #emUnitDemo p {
//   font-size: unset;
//   font-size: 1.5em;

//   & div {
//     font-size: 1.5em;

//     & div {
//       font-size: 1.5em;
//     }
//   }
// }
