header {
  grid-column: 1 / 3;
}

#header-top {
  padding: 0px;
  height: 70px;
  background-color: whitesmoke;
}

#header-bottom {
  display: flex;
  justify-content: space-between;
  background-color: $mainG;
  background: linear-gradient(to bottom, $dg 0%, $mainG 100%);
  padding: 16px;
  width: 100vw;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.3) !important;
  overflow: visible;
  height: 63px;
}

#logo-text {
 font-size: 48px;
}

#mobile-cog {
  position: fixed;
  top: 12px;
  left: 5px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.logo-cog {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 40px;
  height: 40px;
  margin:-10px 0 0 -10px;
  -webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;
}

@-moz-keyframes spin { 
  100% { 
    -moz-transform: rotate(360deg); 
  } 
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  } 
}

@keyframes spin { 
  100% { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
  } 
}

@media only screen and (min-width: 1000px) {
  #mobile-cog {
    display: none;
  }

  #cog {
    display: inline;
  }

  #header-bottom[style] {
    padding-left: 10px !important;
    z-index: 10 !important;
  }
}

#backhome {
  font-size: 1.5em;
  visibility: hidden;
  margin-right: 20px;
  display:inline;
}


// Converts text to images on small screens
.menu-lg {
  display: none;
}

.menu-sm {
  display: inline-block;
  width: 36px;
  text-align: center;
}

@media only screen and (min-width: 540px) { 
  .menu-lg {
    display: inline-flex;
  }

  .menu-sm {
    display: none !important;
  }
}

@media only print {
  #header-top,
  #header-bottom,
  #mobile-cog,
  .logo-cog {
    display: none;
  }
}