@use "../../base/colors" as c;

footer {
  background: linear-gradient(to bottom, #EFC5 0%, #EFC 10%, c.$main-900 30%);
  grid-column: 2 / 3;
  margin-top: 5rem;
  z-index: 0;
  // height: 100vh;

  & > hr {
    width: 90%;
    margin: 0 auto;
    border-color: c.$side-900;
  }
}

.copydate {
  text-align: center;
  padding: 2rem;
  padding-top: 6rem;
}

// .footerLabel {
//   height: 2.175rem;
//   @include border;
//   white-space: nowrap;
//   background: $main-800;
//   // display: inline-block;
//   margin: $margin;
// //   padding: .4rem;
// }

// @media only screen and (min-width: 48rem) { // 768px
//   .footer {
//     display: grid;
//     grid-template-columns: 15.625rem 1fr;
//   }
// }