@media only screen and (min-width: 30rem) { // > 480px
  .main-page-course {
    a {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }

    // flips the even course around 
    &:nth-child(even) .main-page-boxes:nth-child(odd) {
      grid-column: 2/3;
    }

    &:nth-child(even) .main-page-boxes:nth-child(even) {
      grid-column: 1/2;
      grid-row: 1;
    }
  }
}

@media only screen and (min-width: 36rem) { // > 480px
  .main-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .main-page-course a {
    display: inline-block;

    .mob_hide {
      margin-top: 1rem;
    }
  }
}


@media only screen and (min-width: 62rem) { // > 992px
  .main-page {
    grid-template-columns: 1fr 1fr 1fr;
  }

  // .main-page-course a {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  // }
}

@media only screen and (min-width: 75rem) { // > 992px
  .main-page {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main-page-course a {
    display: block;
  }
}