<div class="sun lazy" id="themeToggle">
  <div class="themeToggle lazy">
    {{!-- <div class="dotOuter">
      <div class="dotInner"></div>
    </div> --}}
  </div>
</div>

{{!--
<script src="../../js/utils/themeToggle.js"></script> --}}