<div class="additionalButtons">
  <div class="obscHome"><a href="/"><span class="icon backHome"></span></a></div>
  <div class="obscToggle"><span class="icon transcribe" onclick="switchTransliteration()"></span></div>
  <div style="width: 1.2rem; height: 100%;"></div>
</div>

<script src="/js/utils/transliterate.js" async></script>
