{{>mobNav/additionalButtons}}
<div class="bottom-nav">
<nav class="mobile-nav">
<ul class="mob-nav-items">
  <li>
    <div>
      <span class="prevIcon icon"></span>
    </div>
    <div>pret</div>
  </li>

  <li>
    <div class="mobMenuButton">
      {{>basics/header/logo/cog/cog}}
    </div>
    <div>menu</div>
  </li>

  <li>
    <div>
      <span class="nextIcon icon"></span>
    </div>
    <div>sled</div>
  </li>
</ul>
</nav>
</div>