{{>mobNav/twoButtons}}
<div class="bottomNav">
<nav class="mobileNav">
<ul class="mobNavItems">
  <li><div><span class="prevIcon icon"></span></div><div>pret</div></li>
  {{!-- <li>x</li> --}}
  <li><div class="mobMenuButton">{{>basics/header/logo/cog/cog}}</div><div>menu</div></li>
  {{!-- <li>x</li> --}}
  <li><div><span class="nextIcon icon"></span></div><div>sled</div></li>
</ul>
</nav>
</div>