<article>
  <h1>Greška 500</h1>
  <p>Izvinjenje za neprijatnost</p>
  <p>Stranica je u izradi, i dok ne bude finalizirana nije stvarno povezana s bazom</p>
  <p>To je najverovatnije razlog što vidite ovu grešku</p>
</article>