<article>
  {{{articleContent}}}

  <div class="artMeta">
    {{# if created}}<p>Članak prvi put objavljen {{created}}</p>{{/if}}
    {{# if edited}}<p>Poslednje izmena: {{edited}}</p>{{/if}}
    {{# if author}}<p>{{author}}</p>{{/if}}
  </div>
</article>
<script src="../js/front/displayArticle.js"></script>