<div class="main-page">
  <!-- htmbox-->
  <a href="/html-i-css/uvod-u-html-i-css" class="nocolor" rel="chapter" aria-label="html i css tutorial"><div class="main-page-box" id="htmlcssbox">
    <div class="main-page-boxes">
     
      <h1>Nauči da praviš sajtove<br />Nauči HTML i CSS</h1>

      <svg version="1.1" id="htmlcss" viewBox="-15 220 600 300" style="text-align: center;" preserveAspectRatio="xMidYMid">
      <desc>html i css logo</desc>
    <!--css-->
      
      <polygon id="cssstit" fill="#264DE4" points="129.679,511.999 23.632,482.561 0,217.5 259.675,217.5 236.018,482.519 "/>
      <polygon id="cssodsjaj" fill="#2965F1" points="215.765,465.643 235.981,239.173 129.837,239.173 129.837,489.466 "/>
      <polygon id="triruka" fill="#EBEBEB" points="54.176,337.48 57.089,369.989 129.837,369.989 129.837,337.48 "/>
      <polygon id="triglava" fill="#EBEBEB" points="48.321,271.682 51.276,304.191 129.837,304.191 129.837,271.682 129.725,271.682 "/>
      <polygon id="trirep" fill="#EBEBEB" points="129.837,421.907 129.695,421.946 93.49,412.17 91.175,386.242 73.583,386.242  58.542,386.242 63.097,437.286 129.688,455.772 129.837,455.731 "/>
      <polygon id="tristomak" fill="#FFFFFF" points="205.291,337.48 211.16,271.682 129.725,271.682 129.725,304.191 175.533,304.191 172.575,337.48 129.725,337.48 129.725,369.989 169.756,369.989 165.982,412.149 129.725,421.935 129.725,455.756 196.37,437.286 196.858,431.793 204.498,346.209 "/>
    <!--html-->
      <polygon id="htmlstit" fill="#E44D26" points="566.482,217.5 542.826,482.519 436.486,511.999 330.439,482.561 306.806,217.5 "/>
      <polygon id="htmlodsjaj" fill="#F16529" points="436.644,489.466 522.573,465.643 542.788,239.173 436.644,239.173 "/>
      <polygon id="petledja" fill="#EBEBEB" points="390.656,304.191 436.644,304.191 436.644,271.682 436.532,271.682 355.128,271.682 355.906,280.403 363.896,369.989 436.644,369.989 436.644,337.48 393.627,337.48 "/>
      <polygon id="petrep" fill="#EBEBEB" points="397.982,386.242 380.39,386.242 365.349,386.242 369.903,437.286 436.495,455.772 436.644,455.731 436.644,421.907 436.501,421.946 400.296,412.17 "/>
      <polygon id="petstomak" fill="#FFFFFF" points="436.532,369.989 476.563,369.989 472.79,412.149 436.532,421.935 436.532,455.756 503.176,437.286 503.666,431.793 511.304,346.209 512.097,337.48 503.337,337.48 436.532,337.48 "/>
      <polygon id="petglava" fill="#FFFFFF" points="436.532,304.111 436.532,304.191 514.951,304.191 514.951,304.191 515.055,304.191 515.708,296.883 517.189,280.403 517.966,271.682 436.532,271.682 436.532,291.872 "/>
      
     <text transform="translate(90, 570)" style="font-size:40px;"></text>
     </svg>
    </div>
    <div class="main-page-boxes mob_hide">
     <div>
        <div class="superbox sol">
          <code>&lt;<span class="pink">blockquote</span>&gt;</code>
          <code>  Ko ne voli karanfile, ne treba ni da živi!</code>
          <code>  &lt;<span class="pink">cite</span>&gt;</code>
          <code>    Pera Mitić&lt;<span class="pink">br</span>&gt;</code>
          <code>    Beogradski Davitelj</code>
          <code>  &lt;/<span class="pink">cite</span>&gt;</code>
          <code>&lt;/<span class="pink">blockquote</span>&gt;</code>
        </div>
      </div>
    </div>
   </div></a>
  <!-- gitbox -->
   <div class="main-page-box" id="gitbox">
    <div class="main-page-boxes">
     <a href="#uvod_u_git" class="nocolor" rel="chapter" aria-label="git i cmd tutorijal">
      <h1>Nauči Git<br />Verzionisanje softvera</h1>
      <svg xmlns="https://www.w3.org/2000/svg" id="gitsvg" viewBox="0 -20 570 490" style="margin: -1em">
       <g id="gitcont" transform="translate(-150,-700)">
        <g transform="matrix(1.3504475,0,0,1.2531051,-39.273794,683.85723)">
         <path
         id="git"
         transform="scale(1.24)"
         d="M 424.18,134.394 296.034,6.254 c -7.378,-7.382 -19.346,-7.382 -26.733,0 l -26.606,26.612 33.753,33.754 c 7.845,-2.65 16.84,-0.872 23.092,5.381 6.288,6.292 8.051,15.364 5.333,23.237 l 32.535,32.53 c 7.873,-2.713 16.948,-0.959 23.237,5.337 8.785,8.782 8.785,23.017 0,31.807 -8.79,8.787 -23.022,8.787 -31.815,0 -6.606,-6.612 -8.241,-16.323 -4.892,-24.462 l -30.343,-30.341 0,79.842 c 2.14,1.062 4.16,2.474 5.944,4.252 8.783,8.783 8.783,23.018 0,31.813 -8.783,8.781 -23.027,8.781 -31.804,0 -8.784,-8.796 -8.784,-23.03 0,-31.813 2.171,-2.168 4.685,-3.809 7.367,-4.907 l 0,-80.581 c -2.682,-1.098 -5.19,-2.725 -7.367,-4.908 -6.653,-6.651 -8.254,-16.417 -4.842,-24.588 L 229.618,45.938 141.75,133.8 c -7.38,7.389 -7.38,19.357 0,26.74 l 128.152,128.14 c 7.377,7.38 19.342,7.38 26.73,0 L 424.18,161.133 c 7.383,-7.383 7.383,-19.359 0,-26.739 z"
         style="fill:#e74327" />
        </g>
       </g>
      <text transform="translate(120, 520)" style="font-size:60px;"></text>
      </svg>
     </a>
    </div>
    <div class="main-page-boxes mob_hide" >
      <div class="cmdborder">
        <div class="cmd">
          <div class="cmdtitlebar">MINGW32 ~</div>
            <div class="cmdwindow">
              <p><span class="gitgreen">username</span> <span style="color: #FF1155;">MINGW32</span> <span style="color:#808000;">~</span> </p>
              <p style="color:#bbbbbbc7;">$_</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- js box -->
   <div class="main-page-box" id="jsbox">
    <div class="main-page-boxes">
     <a href="#uvod_u_js" class="nocolor" rel="chapter" aria-label="javascript tutorijal">
      <h1>Nauči JavaScript<br />Programski jezik weba</h1>
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" viewBox="-70 -70 700 700" style="margin: -1em">
          <rect y="-1.153" fill="#F7E018" stroke="#F7E018" width="566.93" height="569.235"/>
          <text transform="matrix(1 0 0 1 70 525)" font-family="MyriadPro-Regular" font-size="430">JS</text>
          <text transform="translate(90, 570)" style="font-size:40px;"></text>
      </svg>
     </a>
    </div>

    <div class="main-page-boxes  mob_hide">
      
        <div class="superbox sol">
          <code><span class="deeppink">if</span> (<span style="color: darkviolet">true</span>) {</code>
          <code>  <span class="darkviolet">console</span><wbr>.<span class="seagreen">log</span>("Hej!");</code>
          <code>}</code>
          <code><span class="deeppink">else</span> {</code>
          <code>  <span class="darkviolet">console</span><wbr>.<span class="seagreen">log</span>("poz :)");</code>
          <code>}</code>
        </div>
      
    </div>
   </div>
</div>