<!DOCTYPE html>
{{>basics/head}}

<body>
  <div class="overlay"></div>
  {{>basics/header}}
  <nav id="side-nav" style="display: none;">{{>basics/sideNav}}</nav>
  <main>
    <div class="placeholder">
      {{{body}}}
    </div>
  </main>
  {{>basics/footer}}
  {{>basics/backToTop}}
</body>

</html>