<!DOCTYPE html>
{{>basics/head}}

<body>
  <div class="overlay"></div>
  {{>basics/header}}
  {{>basics/sideNav}}
  <main>
    <div class="placeholder">
      {{{body}}}
    </div>
  </main>
  {{>basics/footer}}
  {{>basics/backToTop}}
</body>

</html>