.admin {
  font-size: 1.2rem;
  padding: .2em .4em;
  border-radius: $borderRadius;
  background: $lightBcg;
}

label, input {
  width: 100%;
}

label {
  text-align: left;
  display: inline-block;
  margin: 1rem 0 .2rem;
}

textarea {
  width: 100%;
  resize: vertical;
}

select {
  width: 100%;
  font-size: 1.2rem;
}

input[type="file"] { // hides file upload button
  display: none;
}

label[for="socImage"] {
  display: flex;
  flex-direction: column;
  background: $lightBcg;
  border: $borderWidth dashed currentColor;
  padding: 2rem;
  text-align: center;
  cursor: pointer;

  &::before {
    font-family: Kodiranje;
    content: '\F2CA';
    font-size: 3rem;
  }
}

.moveToFloatingMenu {
  position: fixed;
  height: 2rem;
  width: 2rem;
  right: 3px;
  top: 9.6rem;
  font-size: 2.5em;
  z-index: 1;
}

@media only screen and (min-width: 48rem) {
  .moveToFloatingMenu {
    top: 10.2rem;
    right: .5rem;
  }
}

.reorderCheckbox { // Label
  position: relative;
  width: 2rem;
  height: 2rem;
  margin: 0;
  top: -2rem;
}

@media only screen and (min-width: 48rem) {
  .reorderCheckbox {
    top: -2.6rem;
    // right: .5rem;
  }
}

.reorderCheckbox:after {
  content: '';
  display: inline-flex;
  border: 1px solid $lightFont;
  border-radius: 50%;
  background: $lightBcg;
  width: 2rem;
  height: 2rem;
  justify-content: center; // -
  align-items: center; // |
  position: relative;
  top: -1rem;
}

input[type="checkbox"]:checked ~ label[for="active"]:after,
input[type="checkbox"]:checked ~ label[for]:after {
  font-family: Kodiranje;
  content: "\F2C2";
  position: relative;
  top: -4px; // prevents jumping of checkbox on check
}

