<div class="bigcogWrap lazy">
  <a href="/" class="nocolor">
    <div class="bigcog" aria-label="povratak na poÄetnu stranicu">
      <div class="cogitself">
        <div class="cogtext">kodiranje_</div>
        <img width="192" height="192" loading="lazy"
          srcset="/imgs/cog192.webp" w="192"
          alt="logo cog">
      </div>
    </div>
  </a>
</div>