<div class="iconSection">
  <div class="footerLabel">Kontakt</div>

  <div class="iconLinks">
    <script type="application/ld+json">
{
  "@context" : "https://gitter.im",
  "@type" : "Organization",
  "name" : "ČĎŠ",
  "url" : "https://gitter.im/kodiranje",
  "sameAs" : [ "social media profile link",
  "Social media profile link",
  "Social media profile ink"]
}

</script>
    <div class="iconItem">
      <a href="https://gitter.im/kodiranje" class="nocolor" target="_blank"
        aria-label="gitter forum">
        <span class="icon gitterIcon"></span>
      </a>
    </div>

    <div class="iconItem">
      <a href="https://www.facebook.com/kodiranje.in.rs/" class="nocolor" target="_blank"
        aria-label="facebook">
        <span class="icon facebookIcon"></span>
      </a>
    </div>

    <div class="iconItem">
      <a href="https://twitter.com/kodiranje" class="nocolor" target="_blank"
        aria-label="twitter">
        <span class="icon twitterIcon"></span>
      </a>
    </div>

    <div class="iconItem">
      <a href="/kontakt" class="nocolor" aria-label="mail forma">
        <span class="icon mailIcon"></span>
      </a>
    </div>

    <div class="iconItem">
      <a href="https://join.slack.com/t/kodiranje/shared_invite/zt-r6k71cg1-gh1ZoyM4QwWEpb9ohK~sCw"
        class="nocolor" target="_blank" aria-label="slack">
        <span class="icon slackIcon"></span>
      </a>
    </div>

    <div class="iconItem">
      <a href="https://t.me/kodiranje" class="nocolor" target="_blank"
        aria-label="telegram">
        <span class="icon telegramIcon"></span>
      </a>
    </div>
  </div>
</div>