<div class="donate">
  <p>Ovo je neprofatibilan, nezavistan sajt, namenjen ljudima koji žele da nauče da kodiraju, možda ne znaju baš
    Engleski, i ne mogu da priušte 2000&euro; za uvodni kurs u bilo šta. </p>
  <p>Ako mislite da je to dobra ideja</p>
  <div class="donateBtn">
    <button>
      <a href='/donirajte' class="nocolor" aria-label='donacije' rel='bookmark subsection' hreflang='sr'>
        donirajte</a>
    </button>
  </div>
</div>