<footer>
  {{>basics/footer/copyDate}}
  <hr>
  <div class="footer">
    {{>basics/footer/donate}}
    {{>basics/footer/bigCog}}
    <div class="f48">
      {{>basics/footer/contact}}
      {{>basics/footer/miniNav}}
    </div>
    {{>basics/footer/legend}}
  </div>
</footer>
<script type="module" src="../../main.js"></script>