<div class="doubleFooterLinks">
  <div class="footerLabel">Legenda</div>
  <div class="legends">
    <div class="legend icon solIcon"> Kôd</div>
    <div class="legend icon tipIcon"> Zanimljivo</div>
    <div class="legend icon warningIcon"> Važno</div>
    <div class="legend icon quizIcon"> quiz</div>
    <div class="legend icon errorIcon"> Greška</div>
  </div>
</div>