<div class="iconSection">
  <div class="footerLabel">GO TO:</div>

  <div class="iconLinks">
    <div class="iconItem" title="html">
      <a href="/html-i-css/uvod-u-html-i-css" class="nocolor" rel="chapter" aria-label="html tutorial">
        <span class="icon htmlIcon"></span>
      </a>
    </div>
    <div class="iconItem" title="css">
      <a href="/html-i-css/uvod-u-html-i-css" class="nocolor" rel="chapter" aria-label="css tutorijal">
        <span class="icon cssIcon"></span>
      </a>
    </div>
    <div class="iconItem" title="cmd">
      <a href="/git-i-cmd/uvod-u-terminal" class="nocolor" rel="chapter" aria-label="cmd tutorijal">
        <span class="icon cmdIcon"></span>
      </a>
    </div>
    <div class="iconItem" title="git">
      <a href="/git-i-cmd/uvod-u-terminal" class="nocolor" rel="chapter" aria-label="git tutorijal">
        <span class="icon gitIcon"></span>
      </a>
    </div>

    <div class="iconItem" title="javascript">
      <a href="/javascript/uvod-u-javascript" class="nocolor" rel="chapter" aria-label="javascript tutorial">
        <span class="icon jsIcon"></span>
      </a>
    </div>
    <div class="iconItem" title="arduino">
      <a href="/arduino/uvod" class="nocolor" rel="chapter" aria-label="arduino tutorial">
        <span class="icon arduinoIcon"></span>
      </a>
    </div>
  </div>
</div>