<div class="editMenu" contenteditable="false">
  <ul class="listless">
    <li class="switch">
      <span class="showMeCode"></span>
      <span class="showMeGui"></span>
    </li>
    <li class="dropdown">
      <span class="highlights editMenuItem greenHighlight" data-insert="greenHighlight"></span>
      <span class="highlights editMenuItem grayHighlight" data-insert="grayHighlight"></span>
    </li>
    <li class="dropdown"></span></li>
    <li class="editMenuItem" data-insert="slika">dodaj sliku</li>
    <li class="dropdown" data-drop="superbox">
      <span class="editMenuItem sb sb-tip" data-insert="tip"></span>
      <span class="editMenuItem sb sb-quiz" data-insert="quiz"></span>
      <span class="editMenuItem sb sb-warning" data-insert="warning"></span>
      <span class="editMenuItem sb sb-why" data-insert="why"></span>
      <span class="editMenuItem sb sb-bug" data-insert="bug"></span>
      <span class="editMenuItem sb sb-sol" data-insert="sol"></span>
    </li>
     {{!-- <ul class="superbox">
       <li class="dropDown" data-insert="tip">tip</li>
       <li class="dropDown" data-insert="warning">warning</li>
       <li class="dropDown" data-insert="sol">sol</li>
       <li class="dropDown" data-insert="quiz">quiz</li>
       <li class="dropDown" data-insert="cmd">cmd</li>
     </ul> --}}
    <li class="editMenuItem" data-insert="citat">citat</li>
    <li class="editMenuItem" data-insert="naslov">naslov</li>
    <li class="editMenuItem" data-insert="tooltip">tooltip</li>
      {{!-- <ul class="superbox">
        <li class="dropDown" data-insert="tip">vidljivi</li>
        <li class="dropDown" data-insert="warning">nevidljivi</li>
      </ul> --}}
    <li class="editMenuItem" data-insert="link">link</li>
      {{!-- <ul class="superbox">
        <li class="dropDown" data-insert="tip">spoljni</li>
        <li class="dropDown" data-insert="warning">interni</li>
      </ul> --}}
    <li class="editMenuItem" data-insert="details">details</li>
  </ul>
</div>
<script type="module" src="../../js/utils/editMenu/editMenu.js"></script>