<div class="editMenu" contenteditable="false">
  <ul class="listless">
    <li class="editMenuItem" data-insert="slika">dodaj sliku</li>
    <li class="editMenuItem" data-insert="superbox">superbox</li>
    <li class="editMenuItem" data-insert="citat">citat</li>
    <li class="editMenuItem" data-insert="naslov">naslov</li>
    <li class="editMenuItem" data-insert="n">n</li>
  </ul>
</div>