<div class="editMenu" contenteditable="false">
  <ul class="listless">
    <li class="editMenu-image">dodaj sliku</li>
    <li class="editMenu-sb">superbox</li>
    <li class="editMenu-quote">citat</li>
    <li class="editMenu-title">naslov</li>
    <li class="editMenu-n">n</li>
  </ul>
</div>