<div class="editMenu" contenteditable="false">
  <ul class="listless">
    <li class="switch">
      <span class="showMeCode"></span>
      <span class="showMeGui"></span>
    </li>
    <li class="dropdown">
      <span class="editMenuItem headings title" data-drop="titleH1"><sub>1</sub></span>
      <span class="editMenuItem headings title" data-drop="detailsTitle"><sub>d</sub></span>
      <span class="editMenuItem headings" data-insert="titleH2"><sub>2</sub></span>
      <span class="editMenuItem headings" data-insert="titleH3"><sub>3</sub></span>
    </li>
    <li class="dropdown">
      <span class="editMenuItem greenHighlight" data-insert="greenHighlight"></span>
      <span class="editMenuItem grayHighlight" data-insert="grayHighlight" title="gray highlight"></span>
      <span class="editMenuItem quotation" data-insert="quote"></span>
      <span class="editMenuItem tooltip" data-insert="tooltip"></span>
    </li>
    <li class="dropdown">
      <span class="editMenuItem insertImg" data-insert="slika"></span>
      <span class="editMenuItem insDetails" data-insert="details"></span>
      <span class="editMenuItem extLink" data-drop="extLink"></span>
      <span class="editMenuItem intLink" data-drop="intLink"></span>
      <span class="editMenuItem ref" data-insert="ref"></span>
    </li>
    <li class="dropdown" data-drop="superbox">
      <span class="editMenuItem sb sb-tip" data-insert="tip"></span>
      <span class="editMenuItem sb sb-quiz" data-insert="quiz"></span>
      <span class="editMenuItem sb sb-warning" data-insert="warning"></span>
      <span class="editMenuItem sb sb-why" data-insert="why"><sub>?</sub></span>
      <span class="editMenuItem sb sb-bug" data-insert="bug"></span>
      <span class="editMenuItem sb sb-ex" data-insert="ex"></span>
      <span class="editMenuItem terminal" data-insert="terminal"></span>
      <span class="editMenuItem cons" data-insert="console"></span>
      <span class="editMenuItem ard" data-insert="ard"></span>
    </li>
    <li class="dropdown" data-drop="syntax">
      <span class="editMenuItem insCode pinkCode" data-insert="pinkCode"></span>
      <span class="editMenuItem insCode greenCode" data-insert="greenCode"></span>
      <span class="editMenuItem insCode violetCode" data-insert="violetCode"></span>
      <span class="editMenuItem insCode blueCode" data-insert="blueCode"></span>
      <span class="editMenuItem insCode dimCode" data-insert="dimCode"></span>
      <span class="editMenuItem insCode opeka" data-insert="opekaCode"></span>
      <span class="editMenuItem spell" data-insert="spell"></span>
    </li>
    <li class="editMenuItem" data-insert="details">
      <span class="editMenuItem em smiley" data-insert="smiley"></span>
      <span class="editMenuItem em unamused" data-insert="unamused"></span>
      <span class="editMenuItem em cray" data-insert="cray"></span>
      <span class="editMenuItem em plaz" data-insert="plaz"></span>
      <span class="editMenuItem em up" data-insert="up"></span>
    </li>
  </ul>
</div>

{{>articles/insertLink}}
{{>articles/insertH1}}

<script type="module" src="../../js/utils/editMenu/editMenu.js"></script>