{{>articles/floatingMenu}}
<article>
  <form>
    <div class="adminInput moveToFloatingMenu">
      <input type="checkbox" name="published" id="published">
      <label for="published" class="reorderCheckbox"></label>
    </div>
  <div contenteditable="true" class="editContent" style="position: relative">
    {{{post.articleContent}}}
    {{>articles/editMenu}}
  </div>
  </form>

  <div class="artMeta">
    {{# if post.createdAt}}<p>Članak prvi put objavljen {{formatDate post.createdAt}}</p>{{/if}}
    {{# if post.updatedAt}}<p>Poslednje izmena: {{formatDate post.updatedAt}}</p>{{/if}}
    {{# if post.author}}<p>Autor teksta: {{post.author}}</p>{{/if}}
  </div>
</article>
{{!-- <script type="application/javascript+module" src="../../js/articles/editMenu.js"></script> --}}
<script src="../../js/articles/editMenu.js"></script>