<div class="editMenu" contenteditable="false">
  <ul class="listless">
    <li class="switch">
      <span class="showMeCode" data-fa="\f1c9"></span>
      <span class="showMeGui" data-fa="\f571"></span>
    </li>
    <li class="dropdown"><span class="fas fa-highlighter" data-fa="\f591"></span></li>
    <li class="editMenuItem" data-insert="slika">dodaj sliku</li>
    <li class="editMenuItem" data-insert="superbox">superbox</li>
     {{!-- <ul class="superbox">
       <li class="dropDown" data-insert="tip">tip</li>
       <li class="dropDown" data-insert="warning">warning</li>
       <li class="dropDown" data-insert="sol">sol</li>
       <li class="dropDown" data-insert="quiz">quiz</li>
       <li class="dropDown" data-insert="cmd">cmd</li>
     </ul> --}}
    <li class="editMenuItem" data-insert="citat">citat</li>
    <li class="editMenuItem" data-insert="naslov">naslov</li>
    <li class="editMenuItem" data-insert="tooltip">tooltip</li>
      {{!-- <ul class="superbox">
        <li class="dropDown" data-insert="tip">vidljivi</li>
        <li class="dropDown" data-insert="warning">nevidljivi</li>
      </ul> --}}
    <li class="editMenuItem" data-insert="link">link</li>
      {{!-- <ul class="superbox">
        <li class="dropDown" data-insert="tip">spoljni</li>
        <li class="dropDown" data-insert="warning">interni</li>
      </ul> --}}
    <li class="editMenuItem" data-insert="details">details</li>
  </ul>
</div>
<script type="module" src="../../js/utils/editMenu/editMenu.js"></script>