<div class="floatingMenu">
  <ul class="listless" >
    <li><span class="fas fa-piggy-bank" id="saveButton"></span></li>
    <li><a href="/admin/svi-artikli" class="nocolor"><span class="floattingYellow fas fa-reply-all"></a></span></li>
    <li><a href="" class="nocolor"><span class="floattingWarning fas fa-trash-alt"></a></span></li>
  </ul>
</div>