<div class="floatingMenu">

    <label for="dugme" class="icon saveButton floatingGreen floater" id="saveButton"></label>

    <a href="/admin/svi-artikli" class="nocolor">
      <span class="floatingYellow icon allButton floater"></span>
    </a>

    <a href="" class="nocolor">
      <span class="floatingWarning icon trashButton floater"></span>
    </a>

</div>