<div class="floatingMenu">

    <label for="dugme" class="fas fa-piggy-bank floatingGreen floater" id="saveButton"></label>

    <a href="/admin/svi-artikli" class="nocolor">
      <span class="floatingYellow fas fa-reply-all floater"></span>
    </a>

    <a href="" class="nocolor">
      <span class="floatingWarning fas fa-trash-alt floater"></span>
    </a>

</div>