<div class="heading1 editHelper">
  <p class="boxTitle">Dodaj novu sekciju</p>
  <div>
    <input type="checkbox" id="prvi">
    <label for="prvi" class="editCheckbox">Prvi nasov?</label>
  </div>
  <div>
    <input type="text" id="naslov" required>
    <label for="naslov">Naslov</label>
  </div>
  <div>
    <input type="text" id="bookmark" required>
    <label for="bookmark">Bookmark</label>
  </div>
  <div>
    <input type="text" id="topNavOpis" required>
    <label for="topNavOpis">Naslov u top nav-u</label>
  </div>
  <div>
    <input type="text" id="aria" required>
    <label for="aria">Aria</label>
  </div>
  <div class="buttons buttonsH1">
    <span class="insertH1 far fa-check-circle" data-insert="titleH1"></span>
    <span class="closeButtonH1 far fa-times-circle"></span>
  </div>
</div>