<div class="linkBox editHelper">
  <p class="linkBoxTitle">Unos linka</p>
  <div>
    <input type="text" id="linkUrl" required>
    <label for="linkUrl">URL</label>
  </div>
  <div>
    <input type="text" id="linkDesc" required>
    <label for="linkDesc">Opis</label>
  </div>
  <div>
    <input type="text" id="linkAria" required>
    <label for="linkAria">Aria</label>
  </div>
  <div>
    <label for="linkLang"></label>
    <select id="linkLang">
      <option value="en" selected="">en</option>
      <option value="sr">sr</option>
    </select>
  </div>
  <div class="buttons buttonsLink">
    <span class="insertLink far fa-check-circle" data-insert="extLink"></span>
    <span class="closeButton far fa-times-circle"></span>
  </div>
</div>