<article>
  <h1>Dodaj novi kurs</h1>
  <form action="" method="post">
    <div class=       "adminInput">
      <label for="newCourse">Ime novog kursa</label>
      <input type="text" name="newCourse" id="newCourse" class="admin">
    </div>
    <div class="adminInput">
      <input type="checkbox" name="publish" id="publish">
      <label for="publish"> Objavi?</label>
    </div>
    <div class=       "adminInput">
      <label for="dugme">Sačuvaj</label>
      <input type="submit" value="Sačuvaj" id="dugme" class="admin">
    </div>
  </form>
  
</article>
<script src="../../js/front/addingCourses.js"></script>