<article class="backend">
  <h1>Dodaj novog admina</h1>
  {{#if errorMessage}}<p class="adminError">{{errorMessage}}</p>{{/if}}
  <div>
    <form      action=      "/admin/addNewAdmin"    
               method=      "post">
      <div     class=       "adminInput">
        <label for=         "name">Unesi ime:</label>
        <input type=        "text" 
               id=          "name" 
               name=        "name" 
               class=       "admin">
      </div>
      <div     class=       "adminInput">
        <label for=         "username">Unesi korisničko ime:</label>
        <input type=        "text" 
               id=          "username" 
               name=        "username" 
               class=       "admin">
      </div>
      <div     class=       "adminInput">
        <label for=         "email">Unesi email:</label>
        <input type=        "email" 
               id=          "email" 
               name=        "email" 
               class=       "admin">
      </div>
      <div     class=       "adminInput">
        <label for=         "password">Unesi lozinku:</label>
        <input type=        "password" 
               id=          "password" 
               name=        "password" 
               class=       "admin">
      </div>
      <div     class=       "adminInput">
        <button id=         "dugme" 
               class=       "admin-saveButton admin-wideBtn">Sačuvaj</button>
      </div>
    </form>
  </div>
  <a href="/admin/svi-admini" class="nocolor"><button class="admin-wideBtn admin-allButton">Lista svih admina</button></a>
</article>
