<h1>Brisanje admina</h1>

<p>Da li ste sigurni da hoćete da obrišete sami sebe?</p>

<p>Ova operacija je katasrofalna i nepovratna</p>

<a href="../me" class="nocolor"><button style="width: 95%; height: 3em;" class="adminButton">Ne, vrati me nazad</button></a>
<button style="width: 95%; height: 3em;" class="adminButton deleteButton warning" data-admin-id="{{adminId}}">Da, danas sam luda, ne znam šta hoću</button>
<script src="../../js/admin/deleteAdmin.js"></script>
{{!-- FIXME: --}}
{{!-- <a href="../delete-admin/5e33a6c3e9ea0e1afc13ac61" class="nocolor"><button style="width: 95%; height: 3em;" class="adminButton warning">Da, danas sam luda, ne znam šta hoću</button></a> --}}
