<article><h1>Brisanje admina</h1>

<p>Da li ste sigurni da hoćete da obrišete admina <b>{{admin.name}}</b> sa email adresom <b>{{admin.email}}</b></p>

<p>Ova operacija je nepovratna</p>

<a href="../detalji/{{admin._id}}" class="nocolor"><button style="width: 100%; height: 3em; margin: 1em 0;" class="adminButton">Ne, vrati me nazad</button></a>
<button style="width: 100%; height: 3em; margin: 1em 0;" class="adminButton deleteButton warning" data-admin-id="{{admin._id}}">Da, danas sam luda, ne znam šta hoću</button>
<script src="../../js/admin/deleteAdmin.js"></script>
</article>