<article class="backend">
<h1>Brisanje admina</h1>

<p>Da li ste sigurni da hoćete da obrišete admina <b>{{admin.name}}</b> sa email adresom <b>{{admin.email}}</b></p>

<p>Ova operacija je nepovratna</p>

<a href="../detalji/{{admin._id}}" class="nocolor"><button class="admin-wideBtn admin-allButton">Ne, vrati me nazad</button></a>
<button class="admin-wideBtn admin-warningButton" data-admin-id="{{admin._id}}">Da, danas sam luda, ne znam šta hoću</button>
<script src="../../js/admin/deleteAdmin.js"></script>
</article>