<article>
  <h1>Log in...</h1>
  <div>
    <label for="username">Unesi korisniÄko ime:</label>
    <input type="text" id="username" name="username">
  </div>
  <div>
    <label for="password">Unesi lozinku:</label>
    <input type="password" id="password" name="password">
  </div>
</article>