<article class="backend">
  <h1>Log in...</h1>
  <p class="adminError" style="display: none"></p>
  {{#if errorMessage}}<p class="adminError">{{errorMessage}}</p>{{/if}}
  <form method="POST" action="/admin/login">
    <div class="adminInput">
      <label for="username">Unesi korisniÄko ime:</label>
      <input type="text" id="username" name="username" required autofocus>
    </div>
    <div class="adminInput">
      <label for="password">Unesi lozinku:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="adminInput">
      <button id="dugme" class="admin-btn admin-wideBtn admin-loginBtn">Uloguj se
        :)</button>
    </div>
  </form>
</article>

<script src="../../js/admin/handleLogin.js"></script>