<article>
  <h1>Log in...</h1>
  <form action="/api/login" method="post">
  <div     class=   "adminInput">
    <label for=     "username">Unesi korisničko ime:</label>
    <input type=    "text" 
           id=      "username" 
           name=    "username"  
           class=   "admin">
  </div>
  <div     class=   "adminInput">
    <label for=     "password">Unesi lozinku:</label>
    <input type=    "password" 
           id=      "password" 
           name=    "password" 
           class=   "admin">
  </div>
  <div     class=   "adminInput">
    <label for=     "dugme">Uloguj se</label>
    <input type=    "submit" 
           value=   "Sačuvaj" 
           id=      "dugme" 
           class=   "admin">
  </div>
  </form>
</article>
{{!-- <script src="../../js/admin/login.js"></script> --}}