<article>
  <h1>Log in...</h1>
  {{# if errorMessage}}<p class="adminError">{{errorMessage}}</p>{{/if}}
  <form action="/admin/login" method="post">
  <div     class=   "adminInput">
    <label for=     "username">Unesi korisniÄko ime:</label>
    <input type=    "text" 
           id=      "username" 
           name=    "username"  
           class=   "admin"
           required>
  </div>
  <div     class=   "adminInput">
    <label for=     "password">Unesi lozinku:</label>
    <input type=    "password" 
           id=      "password" 
           name=    "password" 
           class=   "admin"
           required>
  </div>
  <div     class=   "adminInput">
    <button
           id=      "dugme" 
           class=   "admin wideAdminButton admin-loginButton">Uloguj se :)</button>
  </div>
  </form>
</article>