<nav>
  <ul>
    {{# if userId}}
    <li>Lekcije</li>
    <a href="/admin/novi-post"><li>Dodaj Lekciju</li></a>
    <a href="/admin/"><li>Reorganizuj lekcije</li></a>
    <a href="/admin/"><li>Izmeni lekciju</li></a>
    <a href="/admin/"><li>Obriši Lekciju</li></a>
    <li>Kursevi</li>
    <a href="/admin/dodaj-kurs"><li>Dodaj kurs</li></a>
    <a href="/admin/"><li>Izmeni kurseve</li></a>
    <a href="/admin/"><li>Obriši kurs</li></a>
    <li>Admini</li>
    <a href="/admin/dodaj-admina"><li>Dodaj admina</li></a>
    <a href="/admin/"><li>Izmeni admina</li></a>
    <a href="/admin/"><li>Obriši admina</li></a>
    <li>logout</li>
    <li></li>
    {{/if}}
  </ul>
</nav>