<li class="blockTitle">Lekcije</li>
<a href="/admin/dodaj-lekciju">
    <li>Dodaj Lekciju</li>
</a>
<a href="/admin/svi-artikli">
    <li>Sve lekcije</li>
</a>
<li class="blockTitle">Kursevi</li>
<a href="/admin/svi-kursevi">
    <li>Svi kursevi</li>
</a>
<a href="/admin/reorganizuj-kurseve/">
    <li>Reorganizuj kurseve</li>
</a>
<li class="blockTitle">Admini</li>
<a href="/admin/svi-admini">
    <li>Svi admini</li>
</a>
<li class="warning">logout</li>