{{!-- <nav>
  <ul> --}}
    {{!-- {{# if userId}} --}}
    <a href="/admin"><li>Log in</li></a>
    <li class="error">Lekcije</li>
    <a href="/admin/dodaj-lekciju"><li>Dodaj Lekciju</li></a>
    <a href="/admin/svi-artikli"><li>Sve lekcije</li></a>
    <a href="/admin/"><li>Izmeni lekciju</li></a>
    <a href="/admin/"><li>Obriši Lekciju</li></a>
    <li class="error">Kursevi</li>
    <a href="/admin/svi-kursevi"><li>Svi kursevi</li></a>
    <a href="/admin/reorganizuj-kurseve/"><li>Reorganizuj kurseve</li></a>
    {{!-- <a href="/admin/"><li>Obriši kurs</li></a> --}}
    <li class="error">Admini</li>
    <a href="/admin/svi-admini"><li>Svi admini</li></a>
    {{!-- <a href="/admin/"><li>Izmeni admina</li></a>
    <a href="/admin/"><li>Obriši admina</li></a> --}}
    <li class="warning">logout</li>
    {{!-- <li></li> --}}
    {{!-- {{/if}} --}}
  {{!-- </ul>
</nav> --}}