<li class="referalTitle">Lekcije</li>

<li class="referalItem">
    <a href="/admin/dodaj-lekciju" class="nocolor">
        Dodaj Lekciju
    </a>
</li>

{{!-- <li class="referalItem">
    <a href="/admin/svi-artikli" class="nocolor">
        Sve lekcije
    </a>
</li> --}}

<li class="referalTitle">Kursevi</li>

<li class="referalItem">
    <a href="/admin/svi-kursevi" class="nocolor">
        Svi kursevi
    </a>
</li>

<li class="referalTitle">Admini</li>

<li class="referalItem">
    <a href="/admin/svi-admini" class="nocolor">
        Svi admini
    </a>
</li>

<li class="warning referalItem">logout</li>