<article>
  <section>
    <h1>Novi članak</h1>
    <div>
      <form >
        <div     class=       "adminInput">
          <label for=         "selectURL">     Naziv artikla</label>
          <input type=        "text" 
                 class=       "admin" 
                 name=        "selectURL" 
                 id=          "selectURL" 
                 placeholder= "">
        </div>
        <div     class=       "adminInput">
          <label for=         "googTitle">     Nasov google pretrage</label><br>
          <input type=        "text" 
                 id=          "googTitle" 
                 class=       "admin" 
                 name=        "entry" 
                 placeholder= "(za google pretragu)" 
                 required>
        </div>
        <div     class=       "adminInput">
          <label for=         "socTitle">      Nasov posta na društvenim mrežama</label><br>
          <input type=        "text" 
                 id=          "socTitle" 
                 class=       "admin" 
                 name=        "entry" 
                 placeholder= "(za društvene mreže)">
        </div>
        <div     class=       "adminInput">
          <label for=         "articleContent">Artikal</label><br>
          <textarea name=     "entry" 
                 id=          "articleContent" 
                 class=       "admin"></textarea>
        </div>
        <div        class=    "adminInput">
          <label    for=      "courseName">    Kurs</label>
          <select   class=    "admin" 
                    id=       "courseName">
            <option value=    "html-i-css">    HTML i CSS </option>
            <option value=    "javascript">    JavaScript </option>
            <option value=    "cmd-i-git">     Git i CMD  </option>
            <option value=    "arduino">       Arduino    </option>
            <option value=    "">              Main page  </option>
            <option value=    "csharp">        C#         </option>
          </select>
        </div>
        <div     class=       "adminInput">
          <label for=         "socImage">      Slika za društvene mreže 1200x630px sa banerom</label>
          <input type=        "file" 
                 class=       "admin" 
                 id=          "socImage" 
                 name=        "entry">
        </div>
        <div     class=       "adminInput">
          <label for=         "googDesc">      Opis u google pretrazi</label><br>
          <input type=        "text" 
                 id=          "googDesc" 
                 class=       "admin m2r countMe" 
                 name=        "entry"
            
                 placeholder= "(za google pretragu, oko 155 karaktera)">
          <span  class=       "adminCounter googDesc" 
                 data-counter="155">155</span>
        </div>
        <div     class=       "adminInput">
          <label for=         "socDesc">       Opis u postu na društvenim mrežama</label><br>
          <input type=        "text" id="socDesc" 
                 class=       "admin m2r countMe" 
                 name=        "entry"
            
                 placeholder= "(za društvene mreže, do 200 karaktera)">
          <span  class=       "adminCounter socDesc" 
                 data-counter="200">200</span>
        </div>
        <div     class=       "adminInput">
          <label for=         "tags">          Tagovi</label><br>
          <input type=        "text" 
                 id=          "tags" 
                 class=       "admin m2r" 
                 name=        "entry" 
                 placeholder= "(razdvojeni zarezom)">
        </div>
        <div     class=       "adminInput">
          <input type=        "checkbox" 
                 name=        "publish" 
                 id=          "publish">
          <label for=         "publish">       Objavi?</label>
        </div>
      <!-- <input type="text" id="articleContent"> -->
      <label     for=         "dugme">         Sačuvaj</label>
      <input     type=        "submit" 
                 value=       "Sačuvaj" 
                 id=          "dugme">
    </div>

    
    <script src="../../js/unos.js"></script>
    </form>
  </section>
</article>