$BTT_borderBottom: .44rem;
$BBT_position: 3.125rem;
$BBT_shadow: 1px 1px 5px $silver;

.backToTop {
  position: fixed;
  bottom: $BBT_position;
  right: $BBT_position;
  width: $BBT_position;
  height: $BBT_position;
  background: $lightBcg;
  color: $lightFont;
  border-bottom: $BTT_borderBottom solid $lightTopNavBottomGreen;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
  box-shadow: $BBT_shadow;
  text-shadow: $BBT_shadow;

  &:hover {
    border-bottom: $BTT_borderBottom solid $darkYellow;
    box-shadow: 1px 1px 5px $darkYellow;
  }
}