a, a:visited {
  text-decoration: none;
  color: $fontColor;
  background: $linkColor;
}

// // a.tt:hover,
// a:not([class]):hover
// {
//   background: $linkHoverBcg;
// }

a.nocolor {
  background-color: transparent;
}

main a[href^="http"]::before, 
main a[href^="https"]::before {
  content: "" url($outsideLink);
}



a[name] {
//   text-decoration: none;
  padding-top: 7rem;
  // background: transparent;
}

// a.referenceLink {
//   // background: transparent;
//   // text-decoration: underline;

//   // &[href^="http"]:before,
//   // &[href^="https"]:before {
//   //   margin-right: $borderWidth;
//   // }
// }