.referalTitle { // titles such as "Reference" & "Sadržaj strane
  @include boxShadow;
  border-top: $px solid $borderColor;
  background: linear-gradient(0deg, rgba(229,229,229,1), rgba(238,255,204,1) 55%); 
  padding: .5rem 1rem .5rem;
}

// nav elements:
.referalList {
  margin-top: 0.313rem; // 5px
}

.sideNav {
  margin-top: 0;
}

// ul inside nav:
.listless {
  list-style-type: none;
  padding-left: 0;
}

// li elements
.referalItem { 
  @include navs;
  @include boxShadow;
  @include spread;
  min-height: 2.5rem;
  display: flex;
  align-items: center;

  & > a { // pageNav and sideNav
    @include spread;
    min-height: 2.5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
  }

  &:hover {
    background: $shadow;

    a {
      color: $bcgColor;
    }
  }
}

.references {
  ul li {
    display: grid;
    grid-template-columns: 3rem auto;
  }

  .referalItem a {
    padding: 0 .4rem;
  }

  span,
  span a { // fixes issues with reference list
    @include spread;
    @include center;
    justify-content: left;
  }
}

.referenceLink {
  text-decoration: underline;
}

@media only screen and (max-width: 47.95rem) { // < 768px
  .sideNav {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    ul {
      @include navs;
      padding-left: 0;

      .referalItem {
        box-shadow: none;
      }
  
  
      li:first-child {
        border-top: $px solid $sideNavHover;
      }
 
      li {
        border-bottom: $px solid $sideNavHover;

        &:hover {
          background: $shadow;

          a {
            color: $bcgColor;
          }
        }
      }
    }
  }
}