@use "../../base" as *;

table {
  // border: $borderWidth solid $side-900;
  border-radius: $borderRadius;
  font-size: 0.8em;
  width: 100%;
  @include box-shadow;
  // border-spacing: 0;
  margin-block: 2rem;

    & th {
      background: $main-800;
      padding: .1em 1em;
      text-transform: uppercase;
    }

  & tbody {
    counter-reset: table;
   
    tr {
      background: $main-400;

      &:nth-child(odd) {
        background: $side-200;
      }

      & td {
        word-break: break-word; 
        padding: .2em .8em;
      }
    }
  }
}

tfoot tr td {
  padding-inline: 1rem;
}

@media only screen and (min-width: 48rem) {
// //   table {
// //     width: 100%;
// //     margin: 1em 0;
// //     font-size: 1rem;
// //   }
// }
// .counter {
// //   background: $mainG;

//   &:before {
//     counter-increment: table;
//     content: counter(table) " ";
// //     display: flex;
// //     justify-content: center;
//   }
// }

// .centeredTable {
//   td {
//     justify-content: center;
//     text-align: center;
//   }
}