@media only screen and (min-width: 30rem) { // > 480px
  .mainPage { // course card
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

@media only screen and (min-width: 62rem) { // > 992px
  .mainPage {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 75rem) { // > 1250px
  .mainPage {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}