.main-page-course { // course card
  text-align: center;
  padding: 1rem;

  h1 {
    font-size: 1.1rem;
    line-height: 1.6rem;
    padding: 2rem 0;
  }

  // svg {
  //   width: 50vw;
    // padding-bottom: 2rem;
  // }
}


// @media only screen and (min-width: 30rem) { // > 480px
  .main-page-course {
    svg {
      width: 30vw;
//       padding-bottom: 2rem;
    }

    .main-page-boxes:nth-child(even) { // code example boxes
      align-self: center;
    }
  }
// }


@media only screen and (min-width: 36rem) { // > 576px
  .main-page {
    svg {
      width: 30vw;
      padding: 1rem;
//       padding-bottom: 2rem;
    }

    h1 {
      padding: 1rem;
    }

    // .main-page-boxes:nth-child(even) {
    //   align-self: center;
    // }
  }
}


@media only screen and (min-width: 48rem) { // > 768px where side nav appears 
  .main-page {
    svg {
      width: 25vw;
    }
  }
}


// @media only screen and (min-width: 62rem) { // > 992px
//   .main-page {
//     svg {
//       width: 22vw;
//     }
//   }
// }

// @media only screen and (min-width: 75rem) { // > 992px
//   * .main-page .sol code {
//       font-size: 1rem;
//       line-height: 1.2rem !important;
//     }
  
//   .main-page {
//     svg {
//       width: 17vw !important;
//     }
//   }
// }

// .main-page-boxes:nth-child(odd) { // svgs
//   @include boxShadow;
//   border: 1px solid $font;
//   background: $lightBcg;
//   // padding: 1em;
//   // width: calc(100vw - 4em);
// } 





// .mob_hide {
//   display: none;
// }

// @media only screen and (min-width: 30rem) { // > 480px
//   .mob_hide {
//     display: block;
//   }
// }