.courseCard:nth-child(even) {
  background: #c7c7c7;
}

@media only screen and (min-width: 30rem) {
  .courseCard:nth-child(even) {
    background: aliceblue;
  }

  .courseCard:nth-child(4n+2),
  .courseCard:nth-child(4n+3) {
    background: #c7c7c7;
  }
}

@media only screen and (min-width: 75rem) { // > 1200px
  .courseCard:nth-child(4n+2),
  .courseCard:nth-child(4n+3) {
    background: aliceblue;
  }

  .courseCard:nth-child(even) {
    background: #c7c7c7;
  }
}

@media only screen and (min-width: 100rem) { // > 1600px
  .courseCard:nth-child(even) {
    background: aliceblue;
  }

  .courseCard:nth-child(8n+2),
  .courseCard:nth-child(8n+4),
  .courseCard:nth-child(8n+5),
  .courseCard:nth-child(8n+7) {
    background: #c7c7c7;
  }
}