// zigzag background 
.mainPageCourse:nth-child(even) {
  background: $refBcg;
}

@media only screen and (min-width: 30rem) {
  .mainPageCourse:nth-child(even) {
    background: unset;
  }

  .mainPageCourse:nth-child(4n+2),
  .mainPageCourse:nth-child(4n+3) {
    background: $refBcg;
  }
}

@media only screen and (min-width: 62rem) {
  .mainPageCourse:nth-child(4n+2),
  .mainPageCourse:nth-child(4n+3) {
    background: unset;
  }

  .mainPageCourse:nth-child(even) {
    background: $refBcg;
  }
}

@media only screen and (min-width: 75rem) { // 1200px
  .mainPageCourse:nth-child(4n+2),
  .mainPageCourse:nth-child(4n+3) {
    background: unset;
  }
  
  .mainPageCourse:nth-child(8n + 2),
  .mainPageCourse:nth-child(8n + 4),
  .mainPageCourse:nth-child(8n + 5),
  .mainPageCourse:nth-child(8n + 7) {
    background: $refBcg;
  }
}