<!-- gitbox -->
<div class="main-page-course" id="gitbox">
  <a href="/git-i-cmd/uvod-u-terminal" class="nocolor courseLink" rel="chapter" aria-label="git i cmd tutorijal">
    <div class="main-page-boxes">
      <h1>Nauči Git<br>Verzionisanje softvera</h1>
      <svg xmlns="https://www.w3.org/2000/svg" id="gitsvg" viewBox="0 -20 570 490">
        <g id="gitcont" transform="translate(-150,-700)">
          <g transform="matrix(1.3504475,0,0,1.2531051,-39.273794,683.85723)">
            <path id="git" transform="scale(1.24)"
              d="M 424.18,134.394 296.034,6.254 c -7.378,-7.382 -19.346,-7.382 -26.733,0 l -26.606,26.612 33.753,33.754 c 7.845,-2.65 16.84,-0.872 23.092,5.381 6.288,6.292 8.051,15.364 5.333,23.237 l 32.535,32.53 c 7.873,-2.713 16.948,-0.959 23.237,5.337 8.785,8.782 8.785,23.017 0,31.807 -8.79,8.787 -23.022,8.787 -31.815,0 -6.606,-6.612 -8.241,-16.323 -4.892,-24.462 l -30.343,-30.341 0,79.842 c 2.14,1.062 4.16,2.474 5.944,4.252 8.783,8.783 8.783,23.018 0,31.813 -8.783,8.781 -23.027,8.781 -31.804,0 -8.784,-8.796 -8.784,-23.03 0,-31.813 2.171,-2.168 4.685,-3.809 7.367,-4.907 l 0,-80.581 c -2.682,-1.098 -5.19,-2.725 -7.367,-4.908 -6.653,-6.651 -8.254,-16.417 -4.842,-24.588 L 229.618,45.938 141.75,133.8 c -7.38,7.389 -7.38,19.357 0,26.74 l 128.152,128.14 c 7.377,7.38 19.342,7.38 26.73,0 L 424.18,161.133 c 7.383,-7.383 7.383,-19.359 0,-26.739 z"
              style="fill:#e74327" />
          </g>
        </g>
        <text transform="translate(120, 520)" style="font-size:60px;"></text>
      </svg>
    </div>

    <div class="main-page-boxes mob_hide">
      <div class="cmdborder">
        <div class="cmd">
          <div class="cmdtitlebar">MINGW32 ~</div>
          <div class="cmdwindow">
            <p><span class="gitgreen">username</span> <span style="color: #FF1155;">MINGW32</span> <span
                style="color:#808000;">~</span> </p>
            <p style="color:#bbbbbbc7;">$_</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>