{{!-- <article class="mainPage lazy"> --}}
  <div class="mainPage lazy">
  {{>home/htmlCssCourse}}
  {{>home/gitCmdCourse}}
  {{>home/jsCourse}}
  {{>home/ardCourse}}
  {{>home/pyCourse}}
  {{>home/mlCourse}}
</div>
{{!-- </article> --}}