<!-- js box -->
<div class="main-page-course" id="jsbox">
  <a href="/javascript/uvod-u-javascript" class="nocolor courseLink" rel="chapter" aria-label="javascript tutorijal">
    <div class="main-page-boxes">
      <h1>Nauči JavaScript<br>Programski jezik weba</h1>
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" viewBox="-70 -70 700 700" style="margin: -1em">
        <rect y="-1.153" fill="#F7E018" stroke="#F7E018" width="566.93" height="569.235" />
        <text transform="matrix(1 0 0 1 70 525)" font-family="MyriadPro-Regular" font-size="430">JS</text>
        <text transform="translate(90, 570)" style="font-size:40px;"></text>
      </svg>
    </div>

    <div class="main-page-boxes  mob_hide">
      <div class="superbox sol">
        <code><span class="darkviolet">console</span><wbr>.<span class="seagreen">log</span>( "Pozdrav Narode!" );</code>
      </div>

    </div>
  </a>
</div>