<!-- js box -->
<div class="courseCard lazy" id="jsbox" aria-label="Nauči džavaskript, programski jezik weba">
  <a href="/javascript/uvod-u-javascript" class="nocolor courseLink" rel="chapter" aria-label="javascript tutorijal">

    <div class="cardSVG" style="background: linear-gradient(to bottom, hsl(0 0% 0% / 0) 30%, hsl(0 0% 0% / 1)), url('/imgs/mainPCardBcg/JS.webp');">
      <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 900 900">
        <path style="fill:#c7f763" class="svgTurqouise" d="M 56.25,1.3040377 93.01858,405.14098 c 20.2228,222.11035 36.9093,403.97754 37.08236,404.15061 C 130.55848,809.74913 450.59324,900 451.75821,900 c 1.17062,0 323.06092,-90.86807 323.52132,-91.32854 0.17518,-0.17511 16.6032,-180.88031 36.50547,-401.5673 C 831.68726,186.41727 848.07759,1.7633679 848.367,0 757.34106,0.13468882 56.25,1.3040377 56.25,1.3040377 Z M 344.22665,173.90548 h 39.30872 39.30872 V 439.1136 c 0,211.7873 -0.15374,265.19898 -0.76796,265.15404 -0.42305,-0.0304 -52.68864,-14.09988 -116.14511,-31.26311 l -115.37527,-31.2054 -0.15683,-47.54363 c -0.14952,-45.10049 -0.10209,-47.5256 0.92301,-47.21012 4.48275,1.3798 111.6853,30.68094 139.9899,38.26312 6.00607,1.6089 11.0661,2.78067 11.24369,2.60316 0.17757,-0.17758 0.46093,-82.81081 0.63095,-183.62878 0.17003,-100.81797 0.47347,-193.89573 0.67423,-206.84084 z m 382.3555,0.0108 c 6.93081,-0.004 10.90889,0.0149 10.94984,0.0613 0.29652,0.3355 -6.48639,93.70335 -6.83418,94.07413 -0.15876,0.16918 -37.92399,0.40339 -83.92292,0.52098 l -83.63445,0.21452 v 69.1639 c 0,46.44556 0.20556,69.16567 0.62556,69.16567 0.344,0 35.41228,-3.88878 77.92879,-8.64233 42.51651,-4.75356 77.61884,-8.56212 78.0063,-8.46206 0.5063,0.13079 -2.28544,36.53023 -9.92047,129.3393 -5.84383,71.03573 -10.69938,129.22702 -10.79119,129.31406 -0.0919,0.0868 -47.65492,12.51909 -105.69638,27.62697 -58.04147,15.10789 -105.97187,27.59969 -106.51121,27.76038 -0.87907,0.26195 -1.02154,-1.9553 -1.3791,-21.40933 -0.21938,-11.93581 -0.57934,-33.05483 -0.80043,-46.9307 l -0.40201,-25.22752 77.15902,-20.51156 c 42.43801,-11.28149 77.19126,-20.55829 77.22935,-20.61432 0.18758,-0.27643 2.15784,-76.22253 1.9812,-76.36763 -0.11269,-0.0925 -34.5406,5.72132 -76.50644,12.91843 -41.96583,7.19721 -76.34107,13.04073 -76.39105,12.98693 -0.28286,-0.3044 -3.41611,-343.22893 -3.13856,-343.50647 0.32756,-0.32758 193.53272,-1.44798 242.04833,-1.47465 z" />
      </svg>
    </div>

    <div class="courseDesc">
      <h1>Nauči JavaScript, Programski jezik weba</h1>

      <div class="corseCat">
        <span class="medCat"></span><br>
        <span class="easyMath"></span>
      </div>

      <div class="courseReqs">
      <ul>
        <li>Nije potrebno nikakvo predznanje</li>
        <li><span class="firefoxIcon icon lazy"></span> Firefox, <span class="chromeIcon icon lazy"></span> Chrome, Edge</li>
        <li><span class="vsCodeIcon icon lazy"></span> Visual Studio Code</li>
        <li>Čojstvo</li>
      </ul>
      </div>
    </div>

  </a>
</div>