@keyframes typeWriter {
  to { 
    transform: translate($kodiranjeLength, 0px) 
  }
}

@keyframes logoCursorBlinker {
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes spin { 
  100% { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
  } 
}

@keyframes dropDetails {
  0% {
    margin-top: -2rem;
  }
  100% {
    margin-top: 2rem;
  }
}

@keyframes transDetails {
  0% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  }
}

@keyframes closeDetails {
  0% {
    opacity: 1; 
    margin-top: 2rem;
  }
  100% {
    opacity: 0; 
    margin-top: -5rem;
  }
}