a[name] {
  text-decoration: none !important;
}

.one-click-select {
  user-select: all;
}

.math {
  font-family: 'Cambria Math Regular';
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.6;
  font-style: italic;
}

dfn {
  font-style: normal;
}

em {
  border: $px solid $mainBorder;
  border-radius: $borderRadius;
  background-color: $emGray;
  font-style: normal;
  padding: 0 .3rem;
}

.artMeta {
  @include border;
  text-align: right;
  background: $bcgColor;
  margin: 6rem 0;
  font-size: 1rem;
}

.highlight {
  background-color: $highlight; // #f7e80649
  clip-path: polygon(.5rem 0%, 100% 0, 97% 100%, 0% 100%);
  padding: 0 .5rem;
  margin-right: -.5rem;
}

// // .tip .highlight:before,
// // .tip .highlight:after {
// //   background: $dg;
// // }

// // .warning .highlight:before,
// // .warning .highlight:after {
// //   background: $wr;
// // }

// // .kviz .highlight:before,
// // .kviz .highlight:after {
// //   background: $qy;
// // }

// // .why .highlight:before,
// // .why .highlight:after {
// //   background: $dy;
// // }

// // .inl {
// //   display: inline;
// // }

// // h2.inl {
// //   text-align: center;
// // }

// // .ind {
// //   padding-left: 20px;
// // }





// // @media only screen and (max-width: 30em) {
// //   .breakall {
// //     overflow-wrap: break-word;
// //     word-wrap: break-word;
// //     word-break: break-all;
// //     -ms-hyphens: auto;
// //     -moz-hyphens: auto;
// //     -webkit-hyphens: auto;
// //     hyphens: auto;
// //   }
// // }

// // @media only screen and (max-width: 22.5em) {
// //   .ellipses {
// //     overflow: hidden;
// //     // white-space: nowrap; // won't break anything, w/o it it will break where it can and insert ... where it can't 
// //     text-overflow: ellipsis;
// //     width: 300px !important; // doesn't quite work with 100% width
// //   }
// // }



// // .colorSwatch {
// //   display: inline-block; 
// //   width: 1em; 
// //   height: 1em; 
// //   border: 2px solid whitesmoke; 
// //   position: relative; 
// //   top: 4px;
// // }

// // .squigly {
// //   text-decoration-line: underline;
// //   text-decoration-style: wavy;
// //   text-decoration-color: red;
// // }

// // .center {
// //   display: flex;
// //   align-items: center;
// //   justify-content: center;
// // }

// // [data-ind] {
// //   display: inline-block;
// // }

