// @mixin adminmenues {
//   border: .7rem double $fontColor;
//   border-radius: $borderRadius;
//   background: #565656E6;
//   background-clip: padding-box;
// //   color: #efefef;
//   box-shadow: 1px 1px 10px gray;
// //   z-index: 5;
// }

@mixin navs {
  background-color: $refBcg;
  // box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.3), 0 0px 2px 0 rgba(0, 0, 0, 0.3);
  line-height: 1.5rem;
}

@mixin boxShadow {
  box-shadow: $px $px $diffusedShadow $shadow;
}

@mixin spread {
  // display: inline-block;
  display: flex;
  width: 100%;
  height: 100%;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border {
  border: $borderWidth solid $fontColor; 
  border-radius: $borderRadius;
  padding: $margin;
}
