@use "colors" as c;

// globals
$font-size: 20px;
$short-margin: .5rem;
$long-margin: 1rem;
$heading-size: 2rem;

// top nav
$short-header: .2rem;
$logo-height: 3.5rem; // height of checkered field
$logo-font-size: 2.3rem;
$kodiranje-length: 21ch;
// $toggleHeight: 1.2rem;
$top-nav-height: 3rem;
$topnav-padding: 2.5rem;


$side-nav-width: 12.5rem;

// animations
$typeWriter: typeWriter 1s steps(9) 2s forwards;


$borderWidth: .125rem; // 2px
$px: .0625rem;
$borderRadius: .3rem;
// $sideNavWidth: 15.6rem;
$accentBorder: .44rem;
$diffusedShadow: .3125rem; // 5px
$margin: 1rem;


//blockquote:
$iconSize: 2rem;

// cmd:
$cmdPadding: .5rem;
$cmdBorderWidth: 7px;

// Back to top:
$BTT_position: 3.125rem;
$BTT_borderBottom: .44rem;
$BTT_shadow: $px $px $diffusedShadow c.$side-400;

////////////////////////////////////////////

// // main colors 
// $sgt: rgba(229, 229, 229, .7); // #e5e5e588
// $highlight: rgba(181, 255, 92, 0.62);


// $lightF: #535353;

// // Resistor colors */
// $base: #d8b87f;
// $rRed: #ca0125;
// $rBlack: #212121;
// $gold: #f7bd2d;



// // git colors */
// $gityellow: #808000;
// $gitpurple: #c725c7;
// $gitgreen: #018c01;
// $gitwhite: #c6c6c6;
// $gitred: #800000;

// // Pie Chart */
// $mpie: 160px;
// $mhalfpie: 80px;
// $mpieplus: 166px;

// // Console */
// $conB: #0a84ff;
// $conLG: #ededf0;
// $conDG: #e0e0e0;

// // admin 

// $inputBorderRadius: .3em;

$mobMenuHeight: 4rem;