// Greens

 // top nav dark green:
$main-900:      #7cc91c   !default;
// tndg transparent reader gradient:
$main-900-alpha: #7cc91c75 !default;
 // top nav light green:
$main-800:      #9af629   !default;
 // tnlg transparent reader gradient:
$main-800-alpha: #9af62975 !default;
 // cog green:
$main-700:      #c7f763   !default;
 // site background:
$main-400:      #eeffcc   !default;
 // article bcg (honeydew):
$main-300:      #f0fff0   !default;
 // mintcream images and superboxes:
$main-200:      #F5FFFA   !default;
$borderColor: #497118; // 900-alfa maybe?
$solBoxGreen: green !default;

// blue and grays

 // font color
$side-900:       #003333   !default;
 // arduino
$side-800:       #17A1A5;
 // side nav active
$side-700:       #696969   !default;
 // silver shadows, side nav hover, cmd font
$side-400:       #c0c0c0   !default;
 // $sg #c7c7c7 courseCards zigzag bcg vs aliceblue
$side-300:       #B0D1F3   !default;
$side-200:       #e5e5e5   !default;
 // transparent reference em bcg
$side-200-alpha: #e5e5e588 !default;
 // whitesmoke
$side-100:       #f5f5f5   !default;

// traffic lights
$trl-red: #f2cec2;
$trl-green: #d3f4a8;
$trl-yellow: #fffe93;

// highlights
$highYellow: #fdf472;
$highPink: #ff0066a1;
$lowYellow: #f7e806;
$lowPink: #880674;
$highGreen: #a5ff35c9;

// $darkTip: #1f3304;
// some yellow could be quiz or trlYellow #FFEE61
$quiz: #FFEE61; //#fdeabc;

$dark-yellow: #ffb600; // $dy




$opeka: firebrick;
$tomato: tomato;
$codeGreen: teal;
$codePink: #ff1493;
$lineMode: #01ff80;


// $lowGreen: #7cc91c;

// // Resistor colors 

// // Arduino colors 

// $ardDark: rgb(0, 100, 104);

// cmd



// delete
// $mainBorder: #031c00;



// $linkColor: #bdff3a99;
// $linkHoverBcg: #fbe989;
// $side-400: rgb(51, 51, 51);

// $borderColorTrans: #497118AA;


// // ex box side
// $solBcgColor: honeydew !default;
// $darkCodeBcg: mintcream !default;

// Theme toggle
// $toggleClearSky: cornflowerblue;
// $sunDisk: rgb(255, 230, 0);
// // $corona: yellow;
// $nightSky: rgb(1, 13, 36);
// $moonLight: gainsboro;